Repository TUM-Dev/Campus-Backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
        exclude: vscode/launch.json
      - id: check-yaml
        exclude: deployment/.*
      - id: check-added-large-files
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-imports
  - repo: local
    hooks:
      - id: regen-protobuf
        name: Regenerate protobuf files
        files: server/api/
        entry: sh -c "(cd server/api && sh generate.bash)"
        language: system
        pass_filenames: false
        stages: [commit]
      - id: go-mod-tidy-server
        name: Check if go.mod and go.sum are up to date for server
        files: server/
        entry: sh -c "(cd server && go mod tidy)"
        language: system
        pass_filenames: false
        stages: [commit]
      - id: go-mod-tidy-client
        name: Check if go.mod and go.sum are up to date for server
        files: server/
        entry: sh -c "(cd client && go mod tidy)"
        language: system
        pass_filenames: false
        stages: [commit]

removed the now unused deployment
  deployment/charts/backend/Chart.yaml
  deployment/charts/backend/files/envoy.yaml
  deployment/charts/backend/templates/backend-pvc.yaml
  deployment/charts/backend/templates/deployments/backend.yaml
  deployment/charts/backend/templates/deployments/hpas.yaml
  deployment/charts/backend/templates/namespace.yaml
  deployment/charts/backend/templates/networking/cors-middleware.yaml
  deployment/charts/backend/templates/networking/https-cert.yaml
  deployment/charts/backend/templates/networking/https-middleware.yaml
  deployment/charts/backend/templates/networking/ingress.yaml
  deployment/charts/backend/templates/networking/redirect-to-new-backend-middleware.yaml
  deployment/charts/backend/templates/networking/service.yaml
  deployment/charts/backend/templates/priority-class.yaml
  deployment/charts/backend/values.yaml
Due: none

Reapply "added a migration to remove the chat (#355)"
  .github/workflows/lint.yml
  README.md
  docker-compose.yml
  server/api/tumdev/campus_backend.pb.go
  server/backend/migration/20240510000000.go
  server/backend/migration/migration.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed chat rooms already being removed in `20230825000000`
  server/backend/migration/20240510000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

removed the roomfinder from the database
  server/backend/migration/20240511000000.go
  server/backend/migration/migration.go
Due: go-mod-tidy-server, go-mod-tidy-client

reverted accidentally removing the envoy config
  docker-compose.yml
  envoy.yaml
Due: none

removed the ticketsales from the db
  client/local/client.go
  server/backend/migration/20240512000000.go
  server/backend/migration/migration.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed that the dish views are partially just invalid
  server/backend/cafeteria.go
  server/backend/migration/20231015000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

tmp
  server/backend/migration/20220713000000.go
  server/backend/migration/20240312000000.go
  server/backend/migration/static_data/source-schema.sql
  server/model/cafeteria_rating_tag_option.go
  server/model/device.go
Due: go-mod-tidy-server, go-mod-tidy-client

changed from mariadb to mysql
  README.md
  docker-compose.local.yml
  server/backend/migration/static_data/source-schema.sql
Due: go-mod-tidy-server, go-mod-tidy-client

tmp
  server/backend/migration/static_data/source-schema.sql
Due: go-mod-tidy-server, go-mod-tidy-client

fixed another mariadb-mysql error
  server/backend/migration/static_data/source-schema.sql
Due: go-mod-tidy-server, go-mod-tidy-client

fixed more mariadb-mysql errors in bringup
  docker-compose.local.yml
  server/backend/migration/20220713000000.go
  server/backend/migration/20221119131300.go
  server/backend/migration/20240311000000.go
  server/backend/migration/20240312000000.go
  server/backend/migration/20240316000000.go
  server/backend/migration/20240317000000.go
  server/backend/migration/20240327000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

updated the docs
  README.md
Due: none

updated the workflows
  .github/workflows/test_migration.yml
Due: none

updated the tests
  server/backend/feedback_test.go
  server/backend/movie_test.go
  server/backend/news_test.go
  server/backend/update_note_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

tmp
  server/backend/cafeteria.go
  server/backend/feedback_test.go
  server/backend/migration/20231003000000.go
  server/go.mod
  server/go.sum
  server/model/CafeteriaModelType.go
  server/utils/db.go
Due: go-mod-tidy-server, go-mod-tidy-client

tmp
  server/model/dish.go
Due: go-mod-tidy-server, go-mod-tidy-client

Testcontainer based testing of mocking (#357)
  server/backend/cafeteria.go
  server/backend/feedback_test.go
  server/backend/migration/20231003000000.go
  server/go.mod
  server/go.sum
  server/model/CafeteriaModelType.go
  server/model/dish.go
  server/utils/db.go
Due: go-mod-tidy-server, go-mod-tidy-client

migrated the rest to mysql
  server/backend/feedback_test.go
  server/backend/migration/20231003000000.go
  server/model/cafeteria_rating_tag_option.go
  server/model/dish_rating_tag_option.go
  server/model/feedback.go
  server/utils/db.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed the setup
  .github/workflows/test_migration.yml
  .vscode/launch.json
  README.md
  server/utils/db.go
Due: go-mod-tidy-server, go-mod-tidy-client

linting fixes
  README.md
  server/backend/feedback_test.go
  server/backend/migration/20231003000000.go
  server/go.mod
  server/go.sum
  server/utils/db.go
Due: go-mod-tidy-server, go-mod-tidy-client

tmp
  server/backend/feedback_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

removed a race-condition from the testing logic
  server/backend/feedback.go
  server/backend/feedback_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed more race conditions/not deleting the feedback if invalid
  server/backend/feedback.go
  server/backend/feedback_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed a logic bug in the testcase
  server/backend/feedback.go
  server/backend/feedback_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

added a testcase for migration debuggability
  server/utils/db.go
  server/utils/db_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

linting fixes
  server/go.mod
  server/utils/db.go
  server/utils/db_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

tested replacing the maria prefix in the atlas connection string
  .github/workflows/test_migration.yml
Due: none

linting fix
  server/model/cafeteria_model_type.go
Due: go-mod-tidy-server, go-mod-tidy-client

Mariadb to mysql migration (#356)
  .github/workflows/test_migration.yml
  .vscode/launch.json
  README.md
  docker-compose.local.yml
  server/backend/feedback.go
  server/backend/feedback_test.go
  server/backend/migration/20220713000000.go
  server/backend/migration/20221119131300.go
  server/backend/migration/20231003000000.go
  server/backend/migration/20240311000000.go
  server/backend/migration/20240312000000.go
  server/backend/migration/20240316000000.go
  server/backend/migration/20240317000000.go
  server/backend/migration/20240327000000.go
  server/backend/migration/static_data/source-schema.sql
  server/backend/movie_test.go
  server/backend/news_test.go
  server/backend/update_note_test.go
  server/go.mod
  server/go.sum
  server/model/cafeteria_model_type.go
  server/model/cafeteria_rating_tag_option.go
  server/model/device.go
  server/model/dish_rating_tag_option.go
  server/model/feedback.go
  server/utils/db.go
  server/utils/db_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

Removed grpc-web from the bundles as we don't utilise it anymore in any active deployment
  README.md
  docker-compose.yml
  envoy.yaml
Due: none

Tested if setting the schema a different way makes traefik happy
  docker-compose.yml
Due: none

tested if the loadbalancer.server.sheme part has to be configured on the service instead
  docker-compose.yml
Due: none

removed parts of the traefik config making traefik very unhappy
  docker-compose.yml
Due: none

added another container as I can't get the h1 AND h2 traeffic working otherwise
  docker-compose.yml
Due: none

migrated to use `api.tum.app` instead of `newapi.tum.app`
  docker-compose.yml
Due: none

fixed formatting mistakes have sneaked into prod
  server/api/tumdev/campus_backend.pb.gw.go
  server/go.mod
  server/go.sum
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

made sure that `googleapis` is automerged
  renovate.json
Due: none

fixed formatting mistakes have sneaked into prod
  server/go.sum
Due: go-mod-tidy-server, go-mod-tidy-client
