Repository TUM-Dev/Campus-Backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
        exclude: vscode/launch.json
      - id: check-yaml
        exclude: deployment/.*
      - id: check-added-large-files
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-imports
  - repo: local
    hooks:
      - id: regen-protobuf
        name: Regenerate protobuf files
        files: server/api/
        entry: sh -c "(cd server/api && sh generate.bash)"
        language: system
        pass_filenames: false
        stages: [commit]
      - id: go-mod-tidy-server
        name: Check if go.mod and go.sum are up to date for server
        files: server/
        entry: sh -c "(cd server && go mod tidy)"
        language: system
        pass_filenames: false
        stages: [commit]
      - id: go-mod-tidy-client
        name: Check if go.mod and go.sum are up to date for server
        files: server/
        entry: sh -c "(cd client && go mod tidy)"
        language: system
        pass_filenames: false
        stages: [commit]

fixed setting the healthchecks on the correct (!!!) container in the pod
  deployment/charts/backend/templates/deployments/backend-v2.yaml
Due: none

renamed `SendFeedback` -> `NewFeedback`
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/feedback.go
  server/backend/feedback_test.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

simplified the feedback stream to ensure that any feedbaykrequest is handled the same
  server/backend/feedback.go
Due: go-mod-tidy-server, go-mod-tidy-client

removed the linting-requirement to have `go tidy` ran on the client
  .pre-commit-config.yaml
  client/go.mod
  client/go.sum
Due: none

Change comment
  server/backend/cron/feedback_email.go
Due: go-mod-tidy-server, go-mod-tidy-client

regen
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.swagger.json
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed the testcases
  server/backend/news.go
  server/backend/news_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

feat:News alerts (#219)
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/news.go
  server/backend/news_alerts.go
  server/backend/news_alerts_test.go
  server/backend/news_test.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixd not using the null shorthands
  server/backend/migration/20230826000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed being using interval lenght for cronjobs in migrations
  server/backend/migration/20210709193000.go
  server/backend/migration/20220713000000.go
  server/backend/migration/20221119131300.go
  server/backend/migration/20221210000000.go
  server/backend/migration/20230530000000.go
  server/backend/migration/20230904100000.go
Due: go-mod-tidy-server, go-mod-tidy-client

Inlined variables in migrations to allow the variables to be changed in the future without altering the migrations
  server/backend/migration/20221119131300.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed using interval lenght in migrations
  server/backend/migration/20230826000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

moved embedded variables to the top of the file
  server/backend/cron/feedback_email.go
Due: go-mod-tidy-server, go-mod-tidy-client

extracted the smtpdialer to its own function
  server/backend/cron/feedback_email.go
Due: go-mod-tidy-server, go-mod-tidy-client

feat(feedback-api):Sending feedback-mails (#199)
  .env
  docker-compose.yaml
  server/backend/cron/cronjobs.go
  server/backend/cron/email_templates/feedback_body.gohtml
  server/backend/cron/email_templates/feedback_body.txt.tmpl
  server/backend/cron/feedback_email.go
  server/backend/cron/feedback_email_test.go
  server/backend/migration/20230826000000.go
  server/backend/migration/migration.go
  server/go.mod
  server/go.sum
  server/model/feedback.go
Due: go-mod-tidy-server, go-mod-tidy-client

migrated the api naming to use googles standard vocabulary
  client/local/client.go
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/cafeteria_service.go
  server/backend/device.go
  server/backend/ios_notifications/device/repository.go
  server/backend/ios_notifications/device/service.go
  server/backend/validators.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed accidentally breaking migrations by switching from explicite to implicite where clauses in deletes (only possible in create, find, ...)
  server/backend/migration/20210709193000.go
  server/backend/migration/20220713000000.go
  server/backend/migration/20221119131300.go
  server/backend/migration/20221210000000.go
  server/backend/migration/20230530000000.go
  server/backend/migration/20230826000000.go
  server/backend/migration/20230904100000.go
Due: go-mod-tidy-server, go-mod-tidy-client

bumped the clients go.mod to the new api
  client/go.mod
  client/go.sum
Due: none

regen
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/feedback.go
  server/backend/feedback_test.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

flattened the metadata
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/backend/feedback.go
  server/backend/feedback_test.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed our api not using `List` and instead relying on `Get` to retireve a list of items see https://cloud.google.com/apis/design/standard_methods
  client/README.md
  client/local/client.go
  client/testLiveApi.sh
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/cafeteria_service.go
  server/backend/movie.go
  server/backend/movie_test.go
  server/backend/news.go
  server/backend/news_test.go
  server/main.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed rebasing error
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

bumped the client version
  client/go.mod
  client/go.sum
Due: none

bumped the client verion
  client/go.mod
  client/go.sum
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed the rollback of one migration accidentally using the wrong enum value
  server/backend/migration/20230826000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed datatypes for the tagnames
  server/backend/cafeteria_rating_db_initializer.go
Due: go-mod-tidy-server, go-mod-tidy-client

moved old functions in new migration
  server/backend/cafeteria_service.go
  server/backend/migration/20231003000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

remove unnecessary checks whether tag exists
  server/backend/migration/20231003000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

bumped the clients go.mod
  client/go.mod
  client/go.sum
  server/api/tumdev/campus_backend.pb.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

removed old initializer
  server/backend/cafeteria_rating_db_initializer.go
  server/backend/migration/20231003000000.go
  server/backend/rpcserver.go
Due: go-mod-tidy-server, go-mod-tidy-client

delete previous data + cron entries fix
  server/backend/migration/20231003000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

silenced logging of adding entries
  server/backend/migration/20231003000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

registered the migration andfixed a few typos
  server/backend/migration/20231003000000.go
  server/backend/migration/migration.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed a typo in the client making the CI fail
  client/public/client.go
Due: none

fixed linting issues
  server/backend/migration/20231003000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

added code review feedback
  server/backend/migration/20231003000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

added state of models in migration
  server/backend/migration/20231003000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

Update server/backend/migration/20231003000000.go
  server/backend/migration/20231003000000.go
Due: go-mod-tidy-server, go-mod-tidy-client
