Repository TUM-Dev/Campus-Backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

regen-protobuf:
  name: Regenerate protobuf files
  entry: sh -c "(cd server/api && sh generate.bash)"
  language: system
  pass_filenames: false
  stages:
  - commit

go-mod-tidy-server:
  name: Check if go.mod and go.sum are up to date for server
  entry: sh -c "(cd server && go mod tidy)"
  language: system
  pass_filenames: false
  stages:
  - commit

go-mod-tidy-client:
  name: Check if go.mod and go.sum are up to date for server
  entry: sh -c "(cd client && go mod tidy)"
  language: system
  pass_filenames: false
  stages:
  - commit

rebase
  client/go.mod
  client/go.sum
Due: none

rebase
  server/backend/rpcserver.go
Due: go-mod-tidy-server, go-mod-tidy-client

bug:file download (#237)
  client/go.mod
  client/go.sum
  server/backend/cron/fileDownload.go
  server/backend/cron/fileDownload_test.go
  server/backend/rpcserver.go
Due: go-mod-tidy-server, go-mod-tidy-client

chore:prometeus based metrics (#236)
  README.md
  server/backend/influx/influxClient.go
  server/backend/influx/iosLogging.go
  server/backend/influxdb.go
  server/backend/ios_notifications/ios_apns/iosAPNsService.go
  server/backend/ios_notifications/ios_device/iosDeviceService.go
  server/backend/ios_notifications/ios_request_response/iosRequestResponseService.go
  server/backend/ios_notifications/ios_scheduling/iosSchedulingService.go
  server/go.mod
  server/go.sum
  server/main.go
Due: go-mod-tidy-server, go-mod-tidy-client

adding a bunch of debug statements to the file handling code
  server/backend/cron/fileDownload.go
Due: go-mod-tidy-server, go-mod-tidy-client

added different log output to hone in on issue
  server/backend/cron/fileDownload.go
Due: go-mod-tidy-server, go-mod-tidy-client

addded more debug statements
  server/backend/cron/fileDownload.go
Due: go-mod-tidy-server, go-mod-tidy-client

added even more logging and tested a different resizer
  server/backend/cron/fileDownload.go
Due: go-mod-tidy-server, go-mod-tidy-client

Revert "adding a bunch of debug statements to the file handling code"
  server/backend/cron/fileDownload.go
Due: go-mod-tidy-server, go-mod-tidy-client

increased the backends memory footprint
  deployment/charts/backend/templates/deployments/backend-v2.yaml
Due: none

feat(movie-1):Implementation of the `GetMovies` api (#213)
  docker-compose.yaml
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/cron/cronjobs.go
  server/backend/cron/kino.go
  server/backend/cron/movie_test.go
  server/backend/cron/movies.go
  server/backend/cron/news.go
  server/backend/migration/20230904100000.go
  server/backend/migration/migration.go
  server/backend/movie.go
  server/backend/movie_test.go
  server/backend/news_test.go
  server/go.mod
  server/model/crontab.go
  server/model/kino.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

removed the roomfinder-cronjob stub
  client/go.mod
  client/go.sum
  server/backend/cron/cronjobs.go
  server/backend/cron/roomfinder.go
Due: go-mod-tidy-server, go-mod-tidy-client

renamed `Files` -> `File` to be consistent with other models
  server/backend/cron/fileDownload.go
  server/backend/cron/movies.go
  server/backend/cron/news.go
  server/backend/migration/20230904100000.go
  server/backend/migration/migration.go
  server/backend/movie.go
  server/backend/movie_test.go
  server/backend/news.go
  server/backend/newsAlerts.go
  server/backend/newsAlerts_test.go
  server/backend/news_test.go
  server/model/files.go
  server/model/kino.go
  server/model/news.go
  server/model/news_alert.go
  server/model/news_source.go
Due: go-mod-tidy-server, go-mod-tidy-client

reconfigured to also lint directory names
  .ls-lint.yaml
  client/local/client.go
  client/local/images/sampleimage.jpeg
  client/public/client.go
Due: none

removed the redundant ios prefixes from the ios notifications directory
  .ls-lint.yaml
  server/backend/cron/cronjobs.go
  server/backend/cron/ios_notifications.go
  server/backend/cron/new_exam_results_hook.go
  server/backend/ios_notifications.go
  server/backend/ios_notifications/apns/ios_apns_repository.go
  server/backend/ios_notifications/apns/ios_apns_service.go
  server/backend/ios_notifications/apns/jwt_token.go
  server/backend/ios_notifications/crypto/encrypted_string.go
  server/backend/ios_notifications/device/device_repository.go
  server/backend/ios_notifications/device/device_service.go
  server/backend/ios_notifications/devices_activity_reset/devices_activity_reset_repository.go
  server/backend/ios_notifications/devices_activity_reset/devices_activity_reset_service.go
  server/backend/ios_notifications/request_response/request_response_repository.go
  server/backend/ios_notifications/request_response/request_response_service.go
  server/backend/ios_notifications/scheduled_update_log/scheduled_update_log_repository.go
  server/backend/ios_notifications/scheduling/scheduling_repository.go
  server/backend/ios_notifications/scheduling/scheduling_service.go
  server/backend/new_exam_results_hook/new_exam_results_scheduling/new_exam_results_scheduling_service.go
  server/backend/rpcserver.go
  server/model/ios_grade.go
  server/model/ios_remote_notification.go
Due: go-mod-tidy-server, go-mod-tidy-client

simplified the ios naming more
  server/backend/ios_notifications/apns/repository.go
  server/backend/ios_notifications/apns/service.go
  server/backend/ios_notifications/device/repository.go
  server/backend/ios_notifications/device/service.go
  server/backend/ios_notifications/devices_activity_reset/repository.go
  server/backend/ios_notifications/devices_activity_reset/service.go
  server/backend/ios_notifications/request_response/repository.go
  server/backend/ios_notifications/request_response/service.go
  server/backend/ios_notifications/scheduled_update_log/repository.go
  server/backend/ios_notifications/scheduling/repository.go
  server/backend/ios_notifications/scheduling/service.go
Due: go-mod-tidy-server, go-mod-tidy-client

chore:misc cleanup (#238)
  client/go.mod
  client/go.sum
  server/backend/cron/cronjobs.go
  server/backend/cron/fileDownload.go
  server/backend/cron/movies.go
  server/backend/cron/news.go
  server/backend/cron/roomfinder.go
  server/backend/migration/20230904100000.go
  server/backend/migration/migration.go
  server/backend/movie.go
  server/backend/movie_test.go
  server/backend/news.go
  server/backend/newsAlerts.go
  server/backend/newsAlerts_test.go
  server/backend/news_test.go
  server/model/files.go
  server/model/kino.go
  server/model/news.go
  server/model/news_alert.go
  server/model/news_source.go
Due: go-mod-tidy-server, go-mod-tidy-client

simplified the naming of the new exam hook
  client/go.mod
  client/go.sum
  server/backend/cron/new_exam_results_hook.go
  server/backend/new_exam_results_hook/scheduling/repository.go
  server/backend/new_exam_results_hook/scheduling/service.go
  server/backend/new_exam_results_hook/subscriber/repository.go
  server/backend/new_exam_results_hook/subscriber/service.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed the movie test not checking if all mocked expectations were met
  server/backend/movie_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

added a feedback cronjob
  .env
  docker-compose.yaml
  server/backend/cron/cronjobs.go
  server/backend/cron/emailTemplates/feedbackBody.gohtml
  server/backend/cron/emailTemplates/feedbackBody.txt.tmpl
  server/backend/cron/feedbackEmail.go
  server/backend/migration/20230826000000.go
  server/backend/migration/migration.go
  server/go.mod
  server/go.sum
  server/model/feedback.go
Due: go-mod-tidy-server, go-mod-tidy-client

added a testcase
  server/backend/cron/feedbackEmail_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

linting fixes
  client/go.mod
  client/go.sum
  server/backend/cron/feedbackEmail_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed naming issues
  server/backend/cron/email_templates/feedback_body.gohtml
  server/backend/cron/email_templates/feedback_body.txt.tmpl
  server/backend/cron/feedback_email.go
  server/backend/cron/feedback_email_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

changed the feedback api
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/cron/cronjobs.go
  server/backend/cron/feedback_email.go
  server/backend/cron/feedback_email_test.go
  server/backend/feedback.go
  server/backend/feedback_test.go
  server/model/feedback.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

added envoy as a proxy to enable
  deployment/charts/backend/files/envoy.yml
  deployment/charts/backend/templates/deployments/backend-v2.yaml
  deployment/charts/backend/templates/networking/https-cert.yaml
  deployment/charts/backend/templates/networking/ingress.yaml
  deployment/charts/backend/templates/networking/service.yaml
  deployment/charts/backend/values.yaml
  docker-compose.yaml
Due: none

fixed kubernetes not accepting `-` in names
  deployment/charts/backend/templates/networking/https-cert.yaml
  deployment/charts/backend/templates/networking/ingress.yaml
  deployment/charts/backend/values.yaml
Due: none

fixed the configmap not being mounted as a volume
  deployment/charts/backend/templates/deployments/backend-v2.yaml
Due: none

tested if a differnt formatting fixes the backend crashlooping
  deployment/charts/backend/files/envoy.yml
Due: none

unifed the file naming used to fix how the envoy configuration file is injected
  deployment/charts/backend/templates/deployments/backend-v2.yaml
  docker-compose.yaml
Due: none

reverted inconsitent renaming with the rest of the repo
  deployment/charts/backend/files/envoy.yaml
  deployment/charts/backend/templates/deployments/backend-v2.yaml
  docker-compose.yaml
Due: none

tested a different way to format the backend yaml file to get it past helm
  deployment/charts/backend/templates/deployments/backend-v2.yaml
Due: none

reverted two parts of the configuration to bisect if helm is unhappy with them
  deployment/charts/backend/templates/deployments/backend-v2.yaml
Due: none

added the correct labels to the `backend-grpc-web-config`
  deployment/charts/backend/templates/deployments/backend-v2.yaml
Due: none

Revert "reverted two parts of the configuration to bisect if helm is unhappy with them"
  deployment/charts/backend/templates/deployments/backend-v2.yaml
Due: none

fixed another potential for the configuration to get fucked up
  deployment/charts/backend/files/envoy.yaml
Due: none

fixed the envoy readyness probes being wrong
  deployment/charts/backend/templates/deployments/backend-v2.yaml
Due: none

Path conditions:
  regen-protobuf: any of: server/api/
  go-mod-tidy-server: any of: server/
  go-mod-tidy-client: any of: server/
