Repository TUM-Dev/Campus-Backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

regen-protobuf:
  name: Regenerate protobuf files
  entry: sh -c "(cd server/api && sh generate.bash)"
  language: system
  pass_filenames: false
  stages:
  - commit

go-mod-tidy-server:
  name: Check if go.mod and go.sum are up to date for server
  entry: sh -c "(cd server && go mod tidy)"
  language: system
  pass_filenames: false
  stages:
  - commit

go-mod-tidy-client:
  name: Check if go.mod and go.sum are up to date for server
  entry: sh -c "(cd client && go mod tidy)"
  language: system
  pass_filenames: false
  stages:
  - commit

chore:added more information to news (#265)
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/backend/cron/news.go
  server/backend/news.go
  server/backend/news_test.go
  server/main.go
  server/model/news.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fix: naming and other fixes
  docker-compose.yaml
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/backend/ios_notifications/device/repository.go
  server/backend/ios_notifications/ios_exams/repository.go
  server/backend/ios_notifications/ios_exams/service.go
  server/backend/ios_notifications/ios_grades/repository.go
  server/backend/ios_notifications/ios_new_exams_callback/service.go
  server/backend/ios_notifications/request_response/service.go
  server/backend/new_exam_results_hook/new_exam_results_scheduling/repository.go
  server/backend/new_exam_results_hook/new_exam_results_scheduling/service.go
  server/backend/new_exam_results_hook/new_exam_results_subscriber/repository.go
  server/backend/new_exam_results_hook/new_exam_results_subscriber/service.go
  server/backend/new_exam_results_hook/scheduling/repository.go
  server/backend/new_exam_results_hook/subscriber/repository.go
  server/backend/new_exam_results_hook/subscriber/service.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed the feedback_email killing the backend if not configured correctly via passing Fatal log messages
  server/backend/cron/feedback_email.go
Due: go-mod-tidy-server, go-mod-tidy-client

rebase
  server/api/tumdev/campus_backend.pb.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed a build error
  server/main.go
  server/migrate.go
  server/utils/utils.go
Due: go-mod-tidy-server, go-mod-tidy-client

refactored files around
  server/main.go
  server/migrate.go
  server/utils/db.go
  server/utils/grpc_to_web.go
  server/utils/telemetry.go
Due: go-mod-tidy-server, go-mod-tidy-client

added the ability to exit after migration
  server/utils/db.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed the testcase
  .github/workflows/main.yml
Due: none

made the action sleeps enough that the db gets its shit together
  .github/workflows/main.yml
Due: none

linting fix
  server/utils/grpc_to_web.go
Due: go-mod-tidy-server, go-mod-tidy-client

add workflow
  .DS_Store
  .github/workflows/client_update.yml
Due: none

Update workflow conditions
  .github/workflows/client_update.yml
Due: none

delete ds store
  .DS_Store
Due: none

added the ability to configure the omdb api key
  deployment/charts/backend/templates/deployments/backend-v2.yaml
  deployment/charts/backend/values.yaml
Due: none

first (intal) draft
  server/backend/cron/movie_parsers/omdb.go
  server/backend/cron/movie_parsers/tufilm.go
  server/backend/cron/movie_parsers/tufilm_test.go
  server/backend/cron/movies.go
Due: go-mod-tidy-server, go-mod-tidy-client

update to new proposal
  .github/workflows/client_update.yml
Due: none

rename token
  .github/workflows/client_update.yml
Due: none

Adds Workflow that triggers Workflow in Campus-Flutter (#266)
  .github/workflows/client_update.yml
Due: none

chore:Removed Roomfinder (#215)
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/rpcserver.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed the testcases
  server/backend/cron/movie_parsers/omdb.go
  server/backend/cron/movie_parsers/test_data/babylon.html
  server/backend/cron/movie_parsers/test_data/oppenheimer.html
  server/backend/cron/movie_parsers/test_data/supprise_film.html
  server/backend/cron/movie_parsers/tufilm.go
  server/backend/cron/movie_parsers/tufilm_test.go
  server/backend/cron/movies.go
  server/backend/movie.go
  server/backend/movie_test.go
  server/model/kino.go
Due: go-mod-tidy-server, go-mod-tidy-client

added a cronjob
  server/backend/migration/20231023000000.go
  server/backend/migration/migration.go
Due: go-mod-tidy-server, go-mod-tidy-client

changed the cronjob accordingly
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

reformated the test-html
  server/backend/cron/movie_parsers/test_data/babylon.html
  server/backend/cron/movie_parsers/test_data/oppenheimer.html
  server/backend/cron/movie_parsers/test_data/supprise_film.html
Due: go-mod-tidy-server, go-mod-tidy-client

formatting
  server/backend/cron/movie_parsers/tufilm_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed the movie title
  server/backend/cron/movies.go
Due: go-mod-tidy-server, go-mod-tidy-client

made sure that even legacy feeds are saved
  server/backend/cron/movie_parsers/tufilm.go
  server/backend/cron/movies.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed the migration not being added to the list of migrations
  server/backend/migration/migration.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed linting issues
  server/backend/cron/movie_parsers/tufilm.go
Due: go-mod-tidy-server, go-mod-tidy-client

refactored the canals to be cleaner
  server/backend/cron/movie_parsers/tufilm.go
Due: go-mod-tidy-server, go-mod-tidy-client

tested a different way of communicating with the db
  .github/workflows/main.yml
Due: none

added a request for the docker logs after waiting
  .github/workflows/main.yml
Due: none

more logging
  .github/workflows/main.yml
Due: none

tested a different approach
  .github/workflows/main.yml
Due: none

more debugging info
  .github/workflows/main.yml
Due: none

tested different config
  .github/workflows/main.yml
Due: none

refactored the wait for db part and source-schema check
  .github/workflows/main.yml
  deployment/charts/backend/files/source-schema.sql
Due: none

migrated the src schema to live in an migation
  deployment/charts/backend/templates/sql-init-config.yaml
  deployment/charts/backend/values.yaml
  server/backend/migration/20200000000000.go
  server/backend/migration/static_data/source-schema.sql
Due: go-mod-tidy-server, go-mod-tidy-client

fixed formatting issue
  .github/workflows/main.yml
Due: none

fixed the migration not being used
  server/backend/migration/migration.go
Due: go-mod-tidy-server, go-mod-tidy-client

Path conditions:
  regen-protobuf: any of: server/api/
  go-mod-tidy-server: any of: server/
  go-mod-tidy-client: any of: server/
