Repository TUM-Dev/Campus-Backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

regen-protobuf:
  name: Regenerate protobuf files
  entry: sh -c "(cd server/api && sh generate.bash)"
  language: system
  pass_filenames: false
  stages:
  - commit

go-mod-tidy-server:
  name: Check if go.mod and go.sum are up to date for server
  entry: sh -c "(cd server && go mod tidy)"
  language: system
  pass_filenames: false
  stages:
  - commit

go-mod-tidy-client:
  name: Check if go.mod and go.sum are up to date for server
  entry: sh -c "(cd client && go mod tidy)"
  language: system
  pass_filenames: false
  stages:
  - commit

Update server/backend/migration/20231003000000.go
  server/backend/migration/20231003000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

create missing tables in migration
  server/backend/migration/20210709193000.go
  server/backend/migration/20230826000000.go
  server/backend/migration/20230904100000.go
  server/model/news_source.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed batch delete in migration
  server/backend/migration/20231003000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

set fix version of migrated structs
  server/backend/migration/20210709193000.go
  server/backend/migration/20230904100000.go
Due: go-mod-tidy-server, go-mod-tidy-client

move head count to canteen service
  server/backend/cafeteria_service.go
  server/backend/canteen_head_count.go
Due: go-mod-tidy-server, go-mod-tidy-client

silence logging for batch db operations
  server/backend/cafeteria_rating_db_initializer.go
Due: go-mod-tidy-server, go-mod-tidy-client

renamed cafeteria service to cafeteria
  server/backend/cafeteria.go
Due: go-mod-tidy-server, go-mod-tidy-client

Update server/backend/cafeteria_rating_db_initializer.go
  server/backend/cafeteria_rating_db_initializer.go
Due: go-mod-tidy-server, go-mod-tidy-client

code review feedback
  server/backend/cafeteria.go
Due: go-mod-tidy-server, go-mod-tidy-client

formatting change
  server/backend/migration/20231003000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

Canteen Batch Logging Silencing (#254)
  server/backend/cafeteria.go
  server/backend/canteen_head_count.go
Due: go-mod-tidy-server, go-mod-tidy-client

added the ability to filter by oldest date
  client/public/client.go
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/movie.go
  server/backend/news.go
  server/backend/news_test.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

removed unnecessary create models
  server/backend/migration/20230904100000.go
  server/backend/migration/20231003000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

removed further instances of hasTable
  server/backend/migration/20210709193000.go
  server/backend/migration/20230826000000.go
  server/backend/migration/20230904100000.go
  server/backend/migration/20231003000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

Move Canteen Static Data in Migration (#251)
  server/backend/cafeteria.go
  server/backend/cafeteria_rating_db_initializer.go
  server/backend/migration/20210709193000.go
  server/backend/migration/20230904100000.go
  server/backend/migration/20231003000000.go
  server/backend/migration/migration.go
  server/backend/rpcserver.go
  server/model/news_source.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed a missed renaming
  server/backend/news_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

Added the ability to filter by oldest date (#255)
  client/public/client.go
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/movie.go
  server/backend/news.go
  server/backend/news_test.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

bumped the clients version
  .pre-commit-config.yaml
  client/go.mod
  client/go.sum
Due: none

renamed the enum migration to be less confusing to use
  server/backend/migration/20221119131300.go
  server/backend/migration/20221210000000.go
  server/backend/migration/20230530000000.go
  server/backend/migration/20230825000000.go
  server/backend/migration/20230826000000.go
  server/backend/migration/20230904000000.go
  server/backend/migration/20230904100000.go
  server/backend/migration/safe_enum_migrate.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed errors in migration 20231003000000
  server/backend/cron/dish_name_download.go
  server/backend/migration/20231003000000.go
  server/backend/migration/static_data/cafeteriaRatingTags.json
  server/backend/migration/static_data/dishNameTags.json
  server/backend/migration/static_data/dishRatingTags.json
Due: go-mod-tidy-server, go-mod-tidy-client

fixed having a wrong arguent in the OldestDateAt query
  server/backend/movie.go
  server/backend/news.go
Due: go-mod-tidy-server, go-mod-tidy-client

added a filed to every request indicating where images can be fetched from
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/backend/movie.go
  server/backend/news.go
  server/main.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed testcase failures
  server/api/tumdev/campus_backend.proto
  server/backend/movie.go
  server/backend/movie_test.go
  server/backend/news.go
  server/backend/news_test.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

linting fixes
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.swagger.json
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

added a rough testcase that assures that migrations don't fail without us noticing
  .github/workflows/main.yml
  server/migrate.go
Due: go-mod-tidy-server, go-mod-tidy-client

refactored the feedback upload to concentrate db-transactions in one place
  server/backend/feedback.go
Due: go-mod-tidy-server, go-mod-tidy-client

added an allowlist of filetypes
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/backend/feedback.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

formatting
  server/api/tumdev/campus_backend.pb.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

formatting
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed the testcase
  server/backend/feedback.go
  server/backend/feedback_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

Path conditions:
  regen-protobuf: any of: server/api/
  go-mod-tidy-server: any of: server/
  go-mod-tidy-client: any of: server/
