Repository TUM-Dev/Campus-Backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
        exclude: vscode/launch.json
      - id: check-yaml
        exclude: deployment/.*
      - id: check-added-large-files
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-imports
  - repo: local
    hooks:
      - id: regen-protobuf
        name: Regenerate protobuf files
        files: server/api/
        entry: sh -c "(cd server/api && sh generate.bash)"
        language: system
        pass_filenames: false
        stages: [commit]
      - id: go-mod-tidy-server
        name: Check if go.mod and go.sum are up to date for server
        files: server/
        entry: sh -c "(cd server && go mod tidy)"
        language: system
        pass_filenames: false
        stages: [commit]
      - id: go-mod-tidy-client
        name: Check if go.mod and go.sum are up to date for server
        files: server/
        entry: sh -c "(cd client && go mod tidy)"
        language: system
        pass_filenames: false
        stages: [commit]

ran the installBuf.bash script in ci
  .github/workflows/lint.yml
  server/api/generate.bash
  server/api/installBuf.bash
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed generate.bash not getting executed with bash
  .pre-commit-config.yaml
Due: none

tested different setup
  .pre-commit-config.yaml
Due: none

made sure that installBuf.bash is eazier to use
  .pre-commit-config.yaml
  server/api/installBuf.bash
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

typos
  README.md
Due: none

fixed a migration not getting run as it build on false assumptions
  server/backend/migration/20230825000000.go
  server/backend/migration/20230904000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed gorm not logging via logrus => this not getting to sentry or not being printed as json
  server/go.mod
  server/go.sum
  server/main.go
Due: go-mod-tidy-server, go-mod-tidy-client

regen
  server/backend/cron/movies.go
  server/backend/migration/2023090410000000.go
  server/backend/movie.go
  server/backend/movie_test.go
  server/go.mod
Due: go-mod-tidy-server, go-mod-tidy-client

bumped dependencys
  server/go.mod
  server/go.sum
Due: go-mod-tidy-server, go-mod-tidy-client

migrated from `satori/go.uuid` to `gofrs/uuid`
  server/go.mod
  server/go.sum
  server/model/files.go
  server/model/news_alert.go
  server/model/news_source.go
  server/model/notification.go
  server/model/notification_confirmation.go
  server/model/notification_type.go
  server/model/roomfinder_building2area.go
  server/model/roomfinder_buildings.go
  server/model/roomfinder_buildings2gps.go
  server/model/roomfinder_buildings2maps.go
  server/model/roomfinder_maps.go
  server/model/roomfinder_rooms.go
  server/model/roomfinder_rooms2maps.go
Due: go-mod-tidy-server, go-mod-tidy-client

chore:dependency bump (#225)
  server/go.mod
  server/go.sum
  server/model/files.go
  server/model/news_alert.go
  server/model/news_source.go
  server/model/notification.go
  server/model/notification_confirmation.go
  server/model/notification_type.go
  server/model/roomfinder_building2area.go
  server/model/roomfinder_buildings.go
  server/model/roomfinder_buildings2gps.go
  server/model/roomfinder_buildings2maps.go
  server/model/roomfinder_maps.go
  server/model/roomfinder_rooms.go
  server/model/roomfinder_rooms2maps.go
Due: go-mod-tidy-server, go-mod-tidy-client

made sure that all migrations are executed inside a transaction
  server/backend/migration/migration.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed the regen script not halting on errors
  server/api/generate.bash
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

removed duplicate type-comments in the models
  server/model/crontab.go
  server/model/devices.go
  server/model/files.go
  server/model/news.go
  server/model/notification.go
  server/model/notification_confirmation.go
  server/model/notification_type.go
  server/model/roomfinder_building2area.go
  server/model/roomfinder_buildings.go
  server/model/roomfinder_buildings2gps.go
  server/model/roomfinder_buildings2maps.go
  server/model/roomfinder_maps.go
  server/model/roomfinder_rooms.go
  server/model/roomfinder_rooms2maps.go
Due: go-mod-tidy-server, go-mod-tidy-client

added sidecars for logging the v1 backend
  deployment/charts/backend/templates/deployments/backend-v1.yaml
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend_grpc.pb.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

potentially fixed a pathing issue
  deployment/charts/backend/templates/deployments/backend-v1.yaml
Due: none

added updatenote
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/updateNews_test.go
  server/backend/updateNote.go
  server/model/updateNote.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

added an update note api
  server/backend/updateNews_test.go
  server/backend/updateNote.go
  server/model/updateNote.go
Due: go-mod-tidy-server, go-mod-tidy-client

feat:update note (#226)
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/updateNews_test.go
  server/backend/updateNote.go
  server/model/updateNote.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

disabled `ValidateUnknownMigrations` as it is somehow not playing nicely
  server/backend/migration/migration.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed a typo in the migration options and reverted the disabling of ValidateUnknownMigrations
  server/backend/migration/migration.go
Due: go-mod-tidy-server, go-mod-tidy-client

impl
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/news.go
  server/model/news.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

simplified the saving of images
  server/backend/cron/news.go
  server/model/files.go
Due: go-mod-tidy-server, go-mod-tidy-client

tmp
  server/backend/cron/news.go
Due: go-mod-tidy-server, go-mod-tidy-client

tmp
  server/backend/news.go
  server/backend/news_test.go
  server/model/news.go
Due: go-mod-tidy-server, go-mod-tidy-client

more tests
  server/api/tumdev/campus_backend.pb.go
  server/backend/news.go
  server/backend/news_test.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fix: campusAPI Url change & new error calls
  server/backend/campus_api/campusApi.go
Due: go-mod-tidy-server, go-mod-tidy-client

fix: exam scheduling comments => moved CAMPUS_API_TOKEN into .env
  .env
  server/backend/new_exam_results_hook/new_exam_results_scheduling/newExamResultsSchedulingRepository.go
  server/backend/new_exam_results_hook/new_exam_results_scheduling/newExamResultsSchedulingService.go
Due: go-mod-tidy-server, go-mod-tidy-client

fix: directly added primary key to callback url
  server/model/newExamResultsSubscriber.go
Due: go-mod-tidy-server, go-mod-tidy-client

fix: formatting
  server/model/crontab.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed duplicate file
  server/api/generate.sh
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

Update server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.proto
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed `static_data` not being included into the binary (#194)
  server/backend/cafeteriaRatingDBInitializer.go
Due: go-mod-tidy-server, go-mod-tidy-client

updated the generated files
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.swagger.json
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed GOPATH always being on the path during regeneration script executions
  server/api/generate.bash
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

refactored all usages of sql.NullXYZ to instead use the null.XYZ syntax and helper fucntions for constructing the fileds
  server/backend/cafeteriaRatingDBInitializer.go
  server/backend/cron/news.go
  server/backend/migration/20210709193000.go
  server/backend/migration/20221119131300.go
  server/backend/migration/20221210000000.go
  server/backend/migration/20230825000000.go
  server/backend/migration/20230904000000.go
  server/backend/newsAlerts_test.go
  server/backend/news_test.go
  server/model/files.go
  server/model/iosDeviceLastUpdated.go
Due: go-mod-tidy-server, go-mod-tidy-client

refactored all usages of sql.NullXYZ to instead use the null.XYZ syntax and helper fucntions for constructing the fileds (#229)
  server/backend/cafeteriaRatingDBInitializer.go
  server/backend/cron/news.go
  server/backend/migration/20210709193000.go
  server/backend/migration/20221119131300.go
  server/backend/migration/20221210000000.go
  server/backend/migration/20230825000000.go
  server/backend/migration/20230904000000.go
  server/backend/newsAlerts_test.go
  server/backend/news_test.go
  server/model/files.go
  server/model/iosDeviceLastUpdated.go
Due: go-mod-tidy-server, go-mod-tidy-client

regen
  server/api/tumdev/campus_backend.pb.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed wrong naming
  server/backend/news.go
Due: go-mod-tidy-server, go-mod-tidy-client
