Repository TUM-Dev/Campus-Backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

regen-protobuf:
  name: Regenerate protobuf files
  entry: sh -c "(cd server/api && sh generate.bash)"
  language: system
  pass_filenames: false
  stages:
  - commit

go-mod-tidy-server:
  name: Check if go.mod and go.sum are up to date for server
  entry: sh -c "(cd server && go mod tidy)"
  language: system
  pass_filenames: false
  stages:
  - commit

go-mod-tidy-client:
  name: Check if go.mod and go.sum are up to date for server
  entry: sh -c "(cd client && go mod tidy)"
  language: system
  pass_filenames: false
  stages:
  - commit

made migrate20230904100000 stable against model changes
  server/backend/migration/20230904100000.go
Due: go-mod-tidy-server, go-mod-tidy-client

added TableName's to migrate20221119131300
  server/backend/migration/20221119131300.go
Due: go-mod-tidy-server, go-mod-tidy-client

Chore:stable migrations (#275)
  server/backend/migration/20220713000000.go
  server/backend/migration/20221119131300.go
  server/backend/migration/20221210000000.go
  server/backend/migration/20230904100000.go
Due: go-mod-tidy-server, go-mod-tidy-client

refactored the enum mirator to also be simpler to maintain
  server/backend/migration/safe_enum_migrate.go
Due: go-mod-tidy-server, go-mod-tidy-client

chore:less boilerplate heavy ios notifications (#272)
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.proto
  server/backend/cafeteria.go
  server/backend/campus_api/campus_api.go
  server/backend/device.go
  server/backend/ios_notifications/apns/jwt_token.go
  server/backend/ios_notifications/apns/repository.go
  server/backend/ios_notifications/apns/service.go
  server/backend/ios_notifications/crypto/encrypted_string.go
  server/backend/ios_notifications/device/repository.go
  server/backend/ios_notifications/device/service.go
  server/backend/ios_notifications/devices_activity_reset/repository.go
  server/backend/ios_notifications/devices_activity_reset/service.go
  server/backend/ios_notifications/interfaces.go
  server/backend/ios_notifications/request_response/repository.go
  server/backend/ios_notifications/request_response/service.go
  server/backend/ios_notifications/scheduled_update_log/repository.go
  server/backend/ios_notifications/scheduling/repository.go
  server/backend/ios_notifications/scheduling/service.go
  server/backend/migration/safe_enum_migrate.go
  server/backend/new_exam_results_hook/scheduling/repository.go
  server/backend/new_exam_results_hook/scheduling/service.go
  server/backend/new_exam_results_hook/subscriber/repository.go
  server/backend/new_exam_results_hook/subscriber/service.go
  server/backend/validators.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

modified the request logger to log more useful things
  server/main.go
Due: go-mod-tidy-server, go-mod-tidy-client

cafeteria rating create test frame
  server/backend/cafeteria_test.go
  server/backend/test_data/sampleimage.jpeg
Due: go-mod-tidy-server, go-mod-tidy-client

documented `OMDB_API_KEY`
  README.md
Due: none

rebase
  server/api/tumdev/campus_backend.pb.go
  server/backend/migration/20231023000000.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

removed creating a user with a known password in a migration
  server/backend/migration/static_data/source-schema.sql
Due: go-mod-tidy-server, go-mod-tidy-client

fixed the removed user being referenced in other places
  server/backend/migration/static_data/source-schema.sql
Due: go-mod-tidy-server, go-mod-tidy-client

datatype test
  server/backend/cafeteria_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

variable filepath for cafeteria images
  server/backend/cafeteria.go
  server/backend/cafeteria_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

remvoed the views from auto migrations
  server/backend/migration/20231015000000.go
  server/backend/migration/migration.go
Due: go-mod-tidy-server, go-mod-tidy-client

successfully insert cafeteris
  server/backend/cafeteria_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

prepare tag rating insertion
  server/backend/cafeteria_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

bug:Unflexible TUFilm Parser (#268)
  README.md
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/backend/cron/movie_parsers/omdb.go
  server/backend/cron/movie_parsers/test_data/babylon.html
  server/backend/cron/movie_parsers/test_data/oppenheimer.html
  server/backend/cron/movie_parsers/test_data/supprise_film.html
  server/backend/cron/movie_parsers/tufilm.go
  server/backend/cron/movie_parsers/tufilm_test.go
  server/backend/cron/movies.go
  server/backend/cron/movies_test.go
  server/backend/migration/20231023000000.go
  server/backend/migration/migration.go
  server/backend/movie.go
  server/backend/movie_test.go
  server/model/kino.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

Update client_update.yml
  .github/workflows/client_update.yml
Due: none

Fixes Workflow after Branch was renamed in Campus-Flutter (#281)
  .github/workflows/client_update.yml
Due: none

made sure all places use the same methodology to construct response arrays
  server/backend/cafeteria.go
  server/backend/news.go
  server/backend/news_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

added a order statement for the movie query
  server/backend/movie.go
  server/backend/movie_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

made sure that the tu film does download only the bigger resolution images
  server/backend/cron/movie_parsers/tufilm.go
  server/backend/cron/movie_parsers/tufilm_test.go
  server/backend/cron/movies.go
Due: go-mod-tidy-server, go-mod-tidy-client

made sure that files are successfully marked as done once done
  server/backend/cron/file_download.go
Due: go-mod-tidy-server, go-mod-tidy-client

simplified the way hrefs for tufilms are parsed
  server/backend/cron/movie_parsers/tufilm.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed info logs always being posted as warn
  server/main.go
Due: go-mod-tidy-server, go-mod-tidy-client

changed the movie sort order
  server/backend/movie.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed a typo in the testcases
  server/backend/movie_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed a linting issue
  server/backend/cron/file_download.go
Due: go-mod-tidy-server, go-mod-tidy-client

reduced the requested resources
  deployment/charts/backend/templates/deployments/backend-v2.yaml
Due: none

added a priority class
  deployment/charts/backend/templates/deployments/backend-v1.yaml
  deployment/charts/backend/templates/deployments/backend-v2.yaml
  deployment/charts/backend/templates/priority-class.yaml
Due: none

fixed the indent level of priorityClassName
  deployment/charts/backend/templates/deployments/backend-v1.yaml
  deployment/charts/backend/templates/deployments/backend-v2.yaml
Due: none

fixed the size of the pvc being too small
  deployment/charts/backend/templates/backend-pvc.yaml
Due: none

fixed the movie cronjob not handling duplicate image urls correctly
  server/backend/cron/movies.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed having `api-test-v1.tum.app` as an domain
  deployment/charts/backend/templates/networking/https-cert.yaml
  deployment/charts/backend/values.yaml
Due: none

added the ability to configure smtp
  deployment/charts/backend/templates/deployments/backend-v2.yaml
  deployment/charts/backend/values.yaml
Due: none

another test of the smtp.port
  deployment/charts/backend/values.yaml
Due: none

tested a different way of configuring send mail
  server/backend/cron/feedback_email.go
Due: go-mod-tidy-server, go-mod-tidy-client

tested differnt way of setting feedback to processed
  server/backend/cron/feedback_email.go
Due: go-mod-tidy-server, go-mod-tidy-client

Path conditions:
  regen-protobuf: any of: server/api/
  go-mod-tidy-server: any of: server/
  go-mod-tidy-client: any of: server/
