Repository TUM-Dev/Campus-Backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

regen-protobuf:
  name: Regenerate protobuf files
  entry: sh -c "(cd server/api && sh generate.bash)"
  language: system
  pass_filenames: false
  stages:
  - commit

go-mod-tidy-server:
  name: Check if go.mod and go.sum are up to date for server
  entry: sh -c "(cd server && go mod tidy)"
  language: system
  pass_filenames: false
  stages:
  - commit

go-mod-tidy-client:
  name: Check if go.mod and go.sum are up to date for server
  entry: sh -c "(cd client && go mod tidy)"
  language: system
  pass_filenames: false
  stages:
  - commit

enabled grpc reflection on the server Resolves #253
  server/main.go
Due: go-mod-tidy-server, go-mod-tidy-client

feat(feedback-api): implementation of the grpc api (#228)
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/cron/cronjobs.go
  server/backend/cron/feedback_email.go
  server/backend/cron/feedback_email_test.go
  server/backend/feedback.go
  server/backend/feedback_test.go
  server/backend/migration/20230826000000.go
  server/model/feedback.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

rebase
  server/api/tumdev/campus_backend.pb.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

chore:clear file serving (#256)
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/backend/movie.go
  server/backend/movie_test.go
  server/backend/news.go
  server/backend/news_test.go
  server/main.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

added cors middlewares to allow the webclient without hacky proxys Resolves https://github.com/TUM-Dev/Campus-Backend/issues/252
  deployment/charts/backend/files/envoy.yaml
  deployment/charts/backend/templates/networking/cors-middleware.yaml
  deployment/charts/backend/templates/networking/ingress.yaml
Due: none

fixed a middeware not being accepted because of a typo in the `apiVersion`
  deployment/charts/backend/templates/networking/cors-middleware.yaml
Due: none

removed the accessControlAllowOriginList restriction to debug headers not getting added
  deployment/charts/backend/templates/networking/cors-middleware.yaml
Due: none

recorded the deployments pod order in each container so that sidecars are always last
  deployment/charts/backend/templates/deployments/backend-v1.yaml
  deployment/charts/backend/templates/deployments/backend-v2.yaml
Due: none

fixed not filtering by name for saved files
  server/backend/cron/news.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed accidentally creating a segfault due to wrong typing
  server/backend/cron/news.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed newssppread linking to an image instead of a real site Resolves https://github.com/TUM-Dev/Campus-Backend/issues/250
  server/backend/cron/news.go
Due: go-mod-tidy-server, go-mod-tidy-client

migrated cafeteria statistics to a view
  server/backend/cafeteria.go
  server/backend/cron/average_rating_computation.go
  server/backend/migration/20231015000000.go
  server/model/cafeteria_rating_average.go
  server/model/cafeteria_rating_statistic.go
Due: go-mod-tidy-server, go-mod-tidy-client

migrated DishRating
  server/api/tumdev/campus_backend.proto
  server/backend/cafeteria.go
  server/backend/cron/average_rating_computation.go
  server/backend/migration/20220713000000.go
  server/backend/migration/20231015000000.go
  server/model/dish_rating_average.go
  server/model/dish_rating_statistic.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

migrated dish_rating_tag_average
  server/backend/cafeteria.go
  server/backend/cron/average_rating_computation.go
  server/backend/migration/20231015000000.go
  server/model/dish_rating_tag_average.go
  server/model/dish_rating_tag_statistic.go
Due: go-mod-tidy-server, go-mod-tidy-client

migrated ...rating_tag_average
  server/backend/cafeteria.go
  server/backend/cron/average_rating_computation.go
  server/backend/migration/20220713000000.go
  server/backend/migration/20231015000000.go
  server/model/cafeteria_rating_tag_average.go
  server/model/cafeteria_rating_tag_statistic.go
  server/model/dish_rating_statistic.go
  server/model/dish_rating_tag_statistic.go
Due: go-mod-tidy-server, go-mod-tidy-client

cleanup
  server/backend/migration/20220713000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

migrated dish_name_tag_average
  server/backend/cafeteria.go
  server/backend/cron/average_rating_computation.go
  server/backend/cron/cronjobs.go
  server/backend/migration/20220713000000.go
  server/backend/migration/20231015000000.go
  server/model/dish_name_tag_average.go
  server/model/dish_name_tag_statistic.go
Due: go-mod-tidy-server, go-mod-tidy-client

removed the AverageRatingComputation cron job
  server/backend/cron/cronjobs.go
  server/backend/migration/20231015000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed a part of the crontab I missed
  server/model/crontab.go
Due: go-mod-tidy-server, go-mod-tidy-client

refactored towards if-error conditions and less .Model(...) usage
  client/local/client.go
  server/backend/cafeteria.go
  server/backend/cron/average_rating_computation.go
  server/backend/cron/dish_name_download.go
  server/backend/cron/movies.go
  server/backend/ios_notifications/scheduling/service.go
  server/backend/migration/20231003000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed formatting issue
  deployment/charts/backend/templates/networking/cors-middleware.yaml
Due: none

refactored towards if-error conditions and less .Model(...) usage (#261)
  client/local/client.go
  server/backend/cafeteria.go
  server/backend/cron/average_rating_computation.go
  server/backend/cron/dish_name_download.go
  server/backend/cron/movies.go
  server/backend/ios_notifications/scheduling/service.go
  server/backend/migration/20231003000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed `LastNewsAlertId` not working
  server/backend/news.go
Due: go-mod-tidy-server, go-mod-tidy-client

added request logger to the grpc server
  server/backend/rpcserver.go
  server/main.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed a faulty testcase
  server/backend/news_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed another field not using structured logging
  server/backend/cron/canteen_head_count.go
Due: go-mod-tidy-server, go-mod-tidy-client

rebase
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/rpcserver.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed the image url sometimes being invalid due to not being downloaded
  server/backend/movie.go
  server/backend/news.go
  server/model/file.go
Due: go-mod-tidy-server, go-mod-tidy-client

correct timestamp row mock
  server/backend/cafeteria_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

modified the ListNews REST API to not swallow other APIs Resolves https://github.com/TUM-Dev/Campus-Backend/issues/264
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/backend/movie.go
  server/backend/rpcserver.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

resolved most merge conflicts
  .env
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/cron/newExamResultsHook.go
  server/backend/ios_notifications/device/repository.go
  server/backend/migration/20221119131300.go
  server/backend/migration/20230618000000.go
  server/backend/new_exam_results_hook/scheduling/service.go
  server/go.mod
  server/go.sum
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

added more information to news
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/backend/cron/news.go
  server/backend/news.go
  server/model/news.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fix: made API_KEY nullable
  server/backend/http_header_authorization/api_key.go
  server/backend/ios_notifications/device/service.go
  server/backend/migration/20230618000000.go
  server/backend/new_exam_results_hook/scheduling/service.go
  server/env/environment.go
  server/model/examResultPublished.go
  server/model/exam_result_published.go
  server/model/newExamResultsSubscriber.go
Due: go-mod-tidy-server, go-mod-tidy-client

fix: adjusted naming convention and updated imports
  server/model/encrypted_grade.go
Due: go-mod-tidy-server, go-mod-tidy-client

fix: dropped `isEncrypted` column from EncryptedGrade
  server/backend/migration/20231016000000.go
  server/model/encrypted_grade.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed the news test
  server/backend/news_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

fix: syntactic sugar
  server/backend/campus_api/campus_api.go
  server/backend/http_header_authorization/api_key.go
  server/backend/ios_notifications/ios_exams/iosExamsRepository.go
  server/backend/migration/20230618000000.go
  server/model/grade.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed news Icon urls not being found
  server/backend/news.go
  server/backend/news_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed linting issues
  server/main.go
Due: go-mod-tidy-server, go-mod-tidy-client

Path conditions:
  regen-protobuf: any of: server/api/
  go-mod-tidy-server: any of: server/
  go-mod-tidy-client: any of: server/
