Repository TUM-Dev/Campus-Backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

regen-protobuf:
  name: Regenerate protobuf files
  entry: sh -c "(cd server/api && sh generate.bash)"
  language: system
  pass_filenames: false
  stages:
  - commit

go-mod-tidy-server:
  name: Check if go.mod and go.sum are up to date for server
  entry: sh -c "(cd server && go mod tidy)"
  language: system
  pass_filenames: false
  stages:
  - commit

go-mod-tidy-client:
  name: Check if go.mod and go.sum are up to date for server
  entry: sh -c "(cd client && go mod tidy)"
  language: system
  pass_filenames: false
  stages:
  - commit

fixed the eazy cases where connection handling can be added
  server/backend/cafeteriaService.go
  server/backend/canteenHeadCount.go
  server/backend/news.go
  server/backend/newsAlerts.go
  server/backend/rpcserver.go
  server/backend/updateNote.go
Due: go-mod-tidy-server, go-mod-tidy-client

bumped the api version the client depends on
  client/go.mod
  client/go.sum
Due: none

added a go get to update the client go.mod in pre-commit
  .pre-commit-config.yaml
Due: none

fixed the client using wrong apis
  client/localServer/client.go
Due: none

fixed another typing bug
  client/publicServer/client.go
Due: none

fuxed the clients mod
  client/go.mod
  client/go.sum
Due: none

fixed the eazy cases where connection handling can be added (#235)
  client/go.mod
  client/go.sum
  server/backend/cafeteriaService.go
  server/backend/canteenHeadCount.go
  server/backend/news.go
  server/backend/newsAlerts.go
  server/backend/rpcserver.go
  server/backend/updateNote.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed issues in the rebase
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/backend/movie_test.go
  server/model/kino.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

added context
  server/backend/movie.go
Due: go-mod-tidy-server, go-mod-tidy-client

extracted the imdb parsing to another function and added a testcase
  client/go.mod
  client/go.sum
  server/backend/cron/movie_test.go
  server/backend/cron/movies.go
Due: go-mod-tidy-server, go-mod-tidy-client

replaced anothe instance of null.Int with null.IntFrom
  server/backend/news_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

added context
  server/backend/news.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed a mistake during rebasing
  server/backend/news_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

Apply suggestions from code review
  server/backend/migration/20230530000000.go
  server/backend/new_exam_results_hook/new_exam_results_subscriber/newExamResultsSubscriberRepository.go
  server/model/crontab.go
  server/model/newExamResultsSubscriber.go
Due: go-mod-tidy-server, go-mod-tidy-client

ran the pre-commit hook
  .env
  client/go.mod
  client/go.sum
  server/backend/campus_api/campusApi.go
  server/backend/migration/20230530000000.go
  server/backend/new_exam_results_hook/new_exam_results_scheduling/newExamResultsSchedulingService.go
  server/backend/new_exam_results_hook/new_exam_results_subscriber/newExamResultsSubscriberRepository.go
  server/model/newExamResultsSubscriber.go
Due: go-mod-tidy-server, go-mod-tidy-client

renamed `ExamResultPublished` -> `PublishedExamResult`
  server/backend/campus_api/campusApi.go
  server/backend/migration/20230530000000.go
  server/backend/new_exam_results_hook/new_exam_results_scheduling/newExamResultsSchedulingRepository.go
  server/backend/new_exam_results_hook/new_exam_results_scheduling/newExamResultsSchedulingService.go
  server/backend/new_exam_results_hook/new_exam_results_subscriber/newExamResultsSubscriberRepository.go
  server/backend/new_exam_results_hook/new_exam_results_subscriber/newExamResultsSubscriberService.go
  server/model/examResultPublished.go
Due: go-mod-tidy-server, go-mod-tidy-client

inlined the models in the migration
  server/backend/migration/20230530000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

decoupled cron and the migration
  server/backend/migration/20230530000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

made shure the CAMPUS_API_TOKEN is configured in the deployment and developemnt
  .env
  README.md
  deployment/charts/backend/templates/deployments/backend-v2.yaml
  deployment/charts/backend/values.yaml
  docker-compose.yaml
Due: none

increased the amount of time between newExamResultsHook's
  server/backend/migration/20230530000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

inlined a few variables
  server/backend/campus_api/campusApi.go
  server/backend/ios_notifications/ios_apns/iosAPNsRepository.go
  server/backend/new_exam_results_hook/new_exam_results_subscriber/newExamResultsSubscriberRepository.go
  server/backend/new_exam_results_hook/new_exam_results_subscriber/newExamResultsSubscriberService.go
Due: go-mod-tidy-server, go-mod-tidy-client

changed the name of `NewsItem` to `News`
  client/go.mod
  client/go.sum
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/backend/news.go
  server/backend/news_test.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

feat:Implemented Base Grade Notification Hook Service (#181)
  .env
  README.md
  deployment/charts/backend/templates/deployments/backend-v2.yaml
  deployment/charts/backend/values.yaml
  docker-compose.yaml
  server/backend/campus_api/campusApi.go
  server/backend/cron/cronjobs.go
  server/backend/cron/newExamResultsHook.go
  server/backend/ios_notifications/ios_apns/iosAPNsRepository.go
  server/backend/migration/20230530000000.go
  server/backend/migration/migration.go
  server/backend/new_exam_results_hook/new_exam_results_scheduling/newExamResultsSchedulingRepository.go
  server/backend/new_exam_results_hook/new_exam_results_scheduling/newExamResultsSchedulingService.go
  server/backend/new_exam_results_hook/new_exam_results_subscriber/newExamResultsSubscriberRepository.go
  server/backend/new_exam_results_hook/new_exam_results_subscriber/newExamResultsSubscriberService.go
  server/model/crontab.go
  server/model/examResultPublished.go
  server/model/newExamResultsSubscriber.go
Due: go-mod-tidy-server, go-mod-tidy-client

added date to the `GetNews` endpoint
  client/go.mod
  client/go.sum
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/backend/news.go
  server/backend/news_test.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

enabled the killswitch for all mensa-cronjobs as they are too buggy
  deployment/charts/backend/templates/deployments/backend-v2.yaml
Due: none

fixed the MensaCron killswith not being present in development
  docker-compose.yaml
Due: none

fixed not all parts of the mensa getting deactivated by the killswitch
  server/backend/rpcserver.go
Due: go-mod-tidy-server, go-mod-tidy-client

linting fixes
  client/go.mod
  client/go.sum
  server/backend/rpcserver.go
Due: go-mod-tidy-server, go-mod-tidy-client

reduced a few loglevels to test if they are the reason why our serer keeps crashlooping
  server/backend/ios_notifications/ios_apns/iosAPNsRepository.go
  server/backend/rpcserver.go
  server/main.go
Due: go-mod-tidy-server, go-mod-tidy-client

migrated the metrics from influx to prometeus
  README.md
  client/go.mod
  client/go.sum
  server/backend/influx/influxClient.go
  server/backend/influx/iosLogging.go
  server/backend/influxdb.go
  server/backend/ios_notifications/ios_apns/iosAPNsService.go
  server/backend/ios_notifications/ios_device/iosDeviceService.go
  server/backend/ios_notifications/ios_request_response/iosRequestResponseService.go
  server/backend/ios_notifications/ios_scheduling/iosSchedulingService.go
  server/backend/rpcserver.go
  server/go.mod
  server/go.sum
  server/main.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed the device-flushing interval not being const
  server/backend/device.go
Due: go-mod-tidy-server, go-mod-tidy-client

versioned the client correctly
  client/go.mod
Due: none

Revert "versioned the client correctly"
  client/go.mod
  client/go.sum
Due: none

made the logging path of fileDownload.go more straight-forward
  client/go.mod
  client/go.sum
  server/backend/cron/fileDownload.go
Due: go-mod-tidy-server, go-mod-tidy-client

refactored the file downloader into separate testable functions
  server/backend/cron/fileDownload.go
Due: go-mod-tidy-server, go-mod-tidy-client

added a testcase for `maybeResizeImage`
  server/backend/cron/fileDownload.go
  server/backend/cron/fileDownload_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

made shure that the file-downloading runs in a transaction
  server/backend/cron/fileDownload.go
Due: go-mod-tidy-server, go-mod-tidy-client

added a testcase for `ensureFileDoesNotExist`
  server/backend/cron/fileDownload_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed a typo
  server/backend/cron/fileDownload.go
Due: go-mod-tidy-server, go-mod-tidy-client

Path conditions:
  regen-protobuf: any of: server/api/
  go-mod-tidy-server: any of: server/
  go-mod-tidy-client: any of: server/
