Repository TUM-Dev/Campus-Backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
        exclude: vscode/launch.json
      - id: check-yaml
        exclude: deployment/.*
      - id: check-added-large-files
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-imports
  - repo: local
    hooks:
      - id: regen-protobuf
        name: Regenerate protobuf files
        files: server/api/
        entry: sh -c "(cd server/api && sh generate.bash)"
        language: system
        pass_filenames: false
        stages: [commit]
      - id: go-mod-tidy-server
        name: Check if go.mod and go.sum are up to date for server
        files: server/
        entry: sh -c "(cd server && go mod tidy)"
        language: system
        pass_filenames: false
        stages: [commit]
      - id: go-mod-tidy-client
        name: Check if go.mod and go.sum are up to date for server
        files: server/
        entry: sh -c "(cd client && go mod tidy)"
        language: system
        pass_filenames: false
        stages: [commit]

fixed formatting mistakes have sneaked into prod
  server/api/tumdev/campus_backend.pb.go
  server/go.mod
  server/go.sum
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed formatting mistakes have sneaked into prod
  server/api/tumdev/campus_backend.pb.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

Update server/go.mod
  server/go.mod
Due: go-mod-tidy-server, go-mod-tidy-client

bump to go 1.24
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/test_migration.yml
Due: none

fixed formatting mistakes have sneaked into prod
  server/api/tumdev/campus_backend.pb.gw.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

bump go to 1.24.1
  client/go.mod
  server/go.mod
Due: go-mod-tidy-server, go-mod-tidy-client

bump dependencys
  .pre-commit-config.yaml
  client/go.mod
  client/go.sum
  server/go.mod
  server/go.sum
Due: go-mod-tidy-server, go-mod-tidy-client

bump the alpine version to 3.21
  server/Dockerfile
Due: go-mod-tidy-server, go-mod-tidy-client

make as uppercase to remove a docker warning
  server/Dockerfile
Due: go-mod-tidy-server, go-mod-tidy-client

Update client/go.mod
  client/go.mod
Due: none

Update .github/workflows/lint.yml
  .github/workflows/lint.yml
Due: none

fixed formatting mistakes have sneaked into prod
  server/go.mod
  server/go.sum
Due: go-mod-tidy-server, go-mod-tidy-client

fixed formatting mistakes have sneaked into prod
  server/api/tumdev/campus_backend.pb.gw.go
  server/go.mod
  server/go.sum
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

chore(ci): remove lint.yml
  .github/workflows/lint.yml
Due: none

chore(ci): remove db-diff step
  .github/workflows/test_migration.yml
Due: none

Fix CI: upgrade backend to Go 1.26 (#613)
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/test_migration.yml
  server/go.mod
Due: go-mod-tidy-server, go-mod-tidy-client

rollback changes to test_migration.yml
  .github/workflows/test_migration.yml
Due: none

Regenerate server and update go.mod
  .github/workflows/test_migration.yml
  server/api/installBuf.bash
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend_grpc.pb.go
  server/go.mod
  server/go.sum
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

Explicitly define the schema to atlas.
  .github/workflows/test_migration.yml
Due: none

Don't specify schemas in diff command for atlas.
  .github/workflows/test_migration.yml
Due: none

Fixup the Dockerfile.
  server/Dockerfile
Due: go-mod-tidy-server, go-mod-tidy-client

Update to golang:1.25-alpine3.22
  server/Dockerfile
Due: go-mod-tidy-server, go-mod-tidy-client

Attempt to get CI in good standing (#618)
  .github/workflows/lint.yml
  .github/workflows/main.yml
  .github/workflows/test_migration.yml
  client/go.mod
  server/Dockerfile
  server/api/installBuf.bash
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/cafeteria.go
  server/backend/cron/file_download_test.go
  server/backend/cron/student_clubs.go
  server/backend/migration/20241023000000.go
  server/backend/migration/20250412000000.go
  server/backend/migration/migration.go
  server/backend/student_club.go
  server/go.mod
  server/go.sum
  server/model/student_club.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client
