Repository TUM-Dev/Campus-Backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

regen-protobuf:
  name: Regenerate protobuf files
  entry: sh -c "(cd server/api && sh generate.bash)"
  language: system
  pass_filenames: false
  stages:
  - commit

go-mod-tidy-server:
  name: Check if go.mod and go.sum are up to date for server
  entry: sh -c "(cd server && go mod tidy)"
  language: system
  pass_filenames: false
  stages:
  - commit

go-mod-tidy-client:
  name: Check if go.mod and go.sum are up to date for server
  entry: sh -c "(cd client && go mod tidy)"
  language: system
  pass_filenames: false
  stages:
  - commit

fixed a typo
  server/backend/migration/20240317000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

Added a migration for migrating to `int64`-ids (#334)
  .github/workflows/test_migration.yml
  .vscode/launch.json
  README.md
  deployment/charts/backend/templates/deployments/backend-v2.yaml
  docker-compose.yaml
  server/backend/migration/20240316000000.go
  server/backend/migration/20240317000000.go
  server/backend/migration/migration.go
  server/model/notification.go
  server/model/notification_confirmation.go
  server/model/notification_type.go
  server/utils/db.go
Due: go-mod-tidy-server, go-mod-tidy-client

tested if adding a Rollback function makes the deployment happy
  server/backend/migration/20240316000000.go
  server/go.sum
Due: go-mod-tidy-server, go-mod-tidy-client

added better logging to `20240316000000c`
  server/backend/migration/20240316000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

made the logging for migration `20240316000000` less anoying
  server/backend/migration/20240316000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

made sure that `20240316000000` handles nullability properly
  server/backend/migration/20240316000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed drop indexes not working
  server/backend/migration/20240317000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed that if gorm has a collation set, the whole ORM breaks apart as now the whole thing is one query anymore instead of a database
  server/backend/migration/migration.go
  server/utils/db.go
Due: go-mod-tidy-server, go-mod-tidy-client

Made sure that all database calls are formated the same
  server/backend/cafeteria.go
  server/backend/cron/cronjobs.go
  server/backend/cron/dish_name_download.go
  server/backend/cron/feedback_email.go
  server/backend/cron/movies.go
  server/backend/cron/news.go
  server/backend/movie.go
  server/backend/news.go
  server/backend/update_note.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed the `dishNameDownload`er-chronjob not handling some errors
  server/backend/cron/dish_name_download.go
Due: go-mod-tidy-server, go-mod-tidy-client

Enforced stricter constraints for files
  server/backend/migration/20240318000000.go
  server/backend/migration/migration.go
Due: go-mod-tidy-server, go-mod-tidy-client

made sure that all timestamp columns are defaulted and update as expected
  server/backend/migration/20240319000000.go
  server/backend/migration/migration.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed a few tables not being inlcuded in the wrong collations
  .github/workflows/test_migration.yml
  deployment/charts/backend/values.yaml
  docker-compose.yaml
  server/backend/migration/20240317000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

added part of the missing dishrating-fks
  server/backend/migration/20240320000000.go
  server/backend/migration/migration.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed build-error
  server/backend/migration/20240320000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed reporting the same content in the atlas migration test
  .github/workflows/test_migration.yml
Due: none

fixed linting mistakes
  server/backend/migration/20240318000000.go
  server/backend/migration/20240319000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed having the direction in which migration comparisons are made mixed up
  .github/workflows/test_migration.yml
Due: none

Changed `Menu does not exist` in the dishname download from an error to an info log and added a comment why this happens
  server/backend/cron/dish_name_download.go
Due: go-mod-tidy-server, go-mod-tidy-client

removed code which is not needed anymore in go 1.22
  server/backend/cron/cronjobs.go
  server/go.sum
Due: go-mod-tidy-server, go-mod-tidy-client

made sure that the buf installation script does pass shellcheck checks
  server/api/installBuf.bash
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

Made sure that all tables have the correct AUTO_INCREMENT flags set
  server/backend/migration/20240327000000.go
  server/backend/migration/migration.go
  server/go.sum
Due: go-mod-tidy-server, go-mod-tidy-client

removed not supported grpc methods
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/go.sum
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed `news_alert`-pk failing in prod
  server/backend/migration/20240327000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed `roomfinder_schedules`-pk apparently needing more fields to be unique
  server/backend/migration/20240327000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

because the migration was partially applied in prod the migration needs to be slightly adjusted
  server/backend/migration/20240327000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

added debugging statements to `migrate20240327000000` to make sure that `news_alert_files_file_fk` can never conflict
  server/backend/migration/20240327000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

made sure that pk-rollback for the crontab migration works as intended
  server/backend/migration/20240327000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

made sure that reverting the `roomfinder_schedules`-PK changes works too
  server/backend/migration/20240327000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

made sure that the error message for already existing feedback is better
  server/backend/feedback.go
  server/backend/feedback_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

made sure that `extraEnvVars` is set correctly
  deployment/charts/backend/values.yaml
Due: none

made sure that the server is grouped differently by renovate
  renovate.json
Due: none

made sure that our cronjobs run as often as the fastest cronjob
  server/backend/cron/cronjobs.go
Due: go-mod-tidy-server, go-mod-tidy-client

removed the v1 backend
  docker-compose.yaml
Due: none

made sure that the `networks` is set up correctly
  docker-compose.yaml
Due: none

fixed a linting issue
  renovate.json
Due: none

removed a few traces of `APNS`
  docker-compose.local.yaml
Due: none

fixed a typo
  docker-compose.yaml
Due: none

tested different port configuration in prod
  docker-compose.yaml
Due: none

fixed the local docker compose file not building a local image
  docker-compose.local.yaml
Due: none

Path conditions:
  regen-protobuf: any of: server/api/
  go-mod-tidy-server: any of: server/
  go-mod-tidy-client: any of: server/
