Repository TUM-Dev/Campus-Backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
        exclude: vscode/launch.json
      - id: check-yaml
        exclude: deployment/.*
      - id: check-added-large-files
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-imports
  - repo: local
    hooks:
      - id: regen-protobuf
        name: Regenerate protobuf files
        files: server/api/
        entry: sh -c "(cd server/api && sh generate.bash)"
        language: system
        pass_filenames: false
        stages: [commit]
      - id: go-mod-tidy-server
        name: Check if go.mod and go.sum are up to date for server
        files: server/
        entry: sh -c "(cd server && go mod tidy)"
        language: system
        pass_filenames: false
        stages: [commit]
      - id: go-mod-tidy-client
        name: Check if go.mod and go.sum are up to date for server
        files: server/
        entry: sh -c "(cd client && go mod tidy)"
        language: system
        pass_filenames: false
        stages: [commit]

fixed formatting mistakes have sneaked into prod
  server/go.sum
Due: go-mod-tidy-server, go-mod-tidy-client

made sure that renovate is configured with more automation in mind
  renovate.json
Due: none

made sure that go mod tidy is run after updating dependencys
  renovate.json
Due: none

fixed formatting mistakes have sneaked into prod
  server/api/tumdev/campus_backend_grpc.pb.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

made sure that the db is also restarted
  docker-compose.yml
Due: none

fixed formatting mistakes have sneaked into prod
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.proto
  server/go.mod
  server/go.sum
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed the mysql version being 8 instead of 9 in the tests
  server/utils/db.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed wrong table names in `migrate20231003000000` making that migration not able to pass the testsuite
  server/backend/migration/20231003000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

implemented a student club scraping cronjob and db-migration
  server/backend/cron/cronjobs.go
  server/backend/cron/student_club_parsers/sv.go
  server/backend/cron/student_club_parsers/sv_studentclubs_07-24.html
  server/backend/cron/student_club_parsers/sv_test.go
  server/backend/cron/student_clubs.go
  server/backend/cron/student_clubs_test.go
  server/backend/migration/20240706000000.go
  server/backend/migration/migration.go
  server/model/crontab.go
  server/model/student_club.go
  server/model/student_club_collection.go
Due: go-mod-tidy-server, go-mod-tidy-client

implemented a GRPC access to said table
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/student_club.go
  server/backend/student_club_test.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

tested if weird joinging of the ORM is now better
  server/backend/student_club.go
Due: go-mod-tidy-server, go-mod-tidy-client

Student Clubs (#388)
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/cron/cronjobs.go
  server/backend/cron/student_club_parsers/sv.go
  server/backend/cron/student_club_parsers/sv_studentclubs_07-24.html
  server/backend/cron/student_club_parsers/sv_test.go
  server/backend/cron/student_clubs.go
  server/backend/cron/student_clubs_test.go
  server/backend/migration/20240706000000.go
  server/backend/migration/migration.go
  server/backend/student_club.go
  server/backend/student_club_test.go
  server/model/crontab.go
  server/model/student_club.go
  server/model/student_club_collection.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed formatting mistakes have sneaked into prod
  server/api/tumdev/campus_backend.pb.gw.go
  server/go.mod
  server/go.sum
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

made sure that images with svg sources are not resized
  server/backend/cron/file_download.go
Due: go-mod-tidy-server, go-mod-tidy-client

made sure that an unset omdb api key does not spam us to high heven in debug builds
  server/backend/cron/movies.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed the studentclub being named differently upsteam
  server/backend/student_club.go
  server/backend/student_club_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed the file_download_test, which were forgotten in 1e7d6b485f5f31aeebf583892c5777ee21b486da
  server/backend/cron/file_download_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

Update README.md
  README.md
Due: none

Update README.md (#399)
  README.md
Due: none

bumped golangci
  .github/workflows/lint.yml
Due: none

Reoved unused testing function
  server/backend/cron/file_download_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

bumped the go version for the Migration Test
  .github/workflows/test_migration.yml
Due: none

bumped the go version for the linting
  .github/workflows/lint.yml
Due: none

bumped the go version for the main CI
  .github/workflows/main.yml
Due: none

chore(deps): did some lockfile cleanup to hopefully make CI happy
  server/go.mod
  server/go.sum
Due: go-mod-tidy-server, go-mod-tidy-client

chore(deps): bumped golanci-lint to 1.60 addressing https://github.com/golangci/golangci-lint/issues/4837
  .github/workflows/lint.yml
Due: none

fixup
  server/model/movie.go
Due: go-mod-tidy-server, go-mod-tidy-client

more fixup
  server/backend/cron/movies.go
  server/backend/migration/migration.go
  server/backend/movie_test.go
  server/backend/news_test.go
  server/backend/update_note_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

made sure that `Timestamp` has the appropriate defaults
  server/backend/migration/20220713000000.go
  server/backend/migration/20221210000000.go
  server/model/cafeteria_rating.go
  server/model/canteen_head_count.go
  server/model/dish_rating.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed `email_id` being migrated to not null a while ago
  server/backend/migration/static_data/source-schema.sql
Due: go-mod-tidy-server, go-mod-tidy-client

fixed more nullability collumns
  server/model/crontab.go
  server/model/device.go
Due: go-mod-tidy-server, go-mod-tidy-client

more index and nullness fixes
  server/model/dish_rating.go
  server/model/file.go
  server/model/kino.go
Due: go-mod-tidy-server, go-mod-tidy-client

made sure that `uni_kino_link` is on the correct field
  server/model/kino.go
Due: go-mod-tidy-server, go-mod-tidy-client

made sure that devices reflect the database state
  server/backend/migration/static_data/source-schema.sql
  server/model/device.go
Due: go-mod-tidy-server, go-mod-tidy-client
