Repository TUM-Dev/Campus-Backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
        exclude: vscode/launch.json
      - id: check-yaml
        exclude: deployment/.*
      - id: check-added-large-files
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-imports
  - repo: local
    hooks:
      - id: regen-protobuf
        name: Regenerate protobuf files
        files: server/api/
        entry: sh -c "(cd server/api && sh generate.bash)"
        language: system
        pass_filenames: false
        stages: [commit]
      - id: go-mod-tidy-server
        name: Check if go.mod and go.sum are up to date for server
        files: server/
        entry: sh -c "(cd server && go mod tidy)"
        language: system
        pass_filenames: false
        stages: [commit]
      - id: go-mod-tidy-client
        name: Check if go.mod and go.sum are up to date for server
        files: server/
        entry: sh -c "(cd client && go mod tidy)"
        language: system
        pass_filenames: false
        stages: [commit]

removed the unique index
  server/model/files.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed joining instead of preloading
  server/backend/cron/news.go
  server/backend/news.go
  server/backend/news_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

revert the saveImage
  server/backend/cron/news.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed the functionality in saveImage
  server/backend/cron/news.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed a typo
  server/backend/newsAlerts_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

Update server/backend/cron/news.go
  server/backend/cron/news.go
Due: go-mod-tidy-server, go-mod-tidy-client

feat:`GetNews` (#227)
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/cron/news.go
  server/backend/news.go
  server/backend/news_test.go
  server/model/news.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

renamed cafeteria -> canteen in all publicly accessible interfaces
  client/localServer/client.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/cafeteriaService.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed the exported json sometimes having the wrong content
  server/model/cafeteria.go
  server/model/cafeteriaRating.go
  server/model/cafeteriaRatingAverage.go
  server/model/cafeteriaRatingTag.go
  server/model/cafeteriaRatingTagAverage.go
  server/model/cafeteriaRatingTagOptions.go
Due: go-mod-tidy-server, go-mod-tidy-client

regenerated proto files after rebasing
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

chore(canteen-renaming):Renamed Cafeteria -> Canteen in public-facing contexts (#205)
  client/localServer/client.go
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/cafeteriaService.go
  server/model/cafeteria.go
  server/model/cafeteriaRating.go
  server/model/cafeteriaRatingAverage.go
  server/model/cafeteriaRatingTag.go
  server/model/cafeteriaRatingTagAverage.go
  server/model/cafeteriaRatingTagOptions.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

regenerated the client
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed the client depending on an outdated version
  client/go.mod
  client/go.sum
Due: none

fixed the naming of MovieMsgElement
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/backend/movie.go
  server/backend/movie_test.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

renamed all proto fileds to adhere to the naming convention
  server/api/tumdev/campus_backend.proto
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

renamed all proto fileds to adhere to the naming convention
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed formatting
  server/api/generate.bash
  server/api/tumdev/campus_backend.proto
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

chore:Proto reformating (#230)
  server/api/generate.bash
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

bumped the client versions
  client/go.mod
  client/go.sum
Due: none

removed the now obsolete newsAlerts apis
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/news.go
  server/backend/newsAlerts.go
  server/backend/newsAlerts_test.go
  server/backend/news_test.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

removed the uncontroversial roomfinder apis
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

removed the uncontroversial roomfinder apis (#231)
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

removed non migratable barierfree endpoints
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

removed non migratable barierfree endpoints (#232)
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

tmp
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/cafeteriaService.go
  server/backend/news.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed Empty being used
  client/go.mod
  client/publicServer/client.go
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.proto
  server/backend/cafeteriaService.go
  server/backend/newsAlerts.go
  server/backend/news_test.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

chore:no empty (#233)
  client/go.mod
  client/publicServer/client.go
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/cafeteriaService.go
  server/backend/news.go
  server/backend/newsAlerts.go
  server/backend/news_test.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed naming
  server/backend/cron/movies.go
  server/backend/movie.go
  server/backend/movie_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed usages of sql instead of the null shortcuts
  server/backend/cron/movies.go
  server/backend/migration/2023090410000000.go
  server/model/kino.go
Due: go-mod-tidy-server, go-mod-tidy-client

Update server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.proto
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed the naming of ReleaseYear
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.swagger.json
  server/backend/movie.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

hardcoded the news source
  server/backend/cron/cronjobs.go
  server/backend/cron/movies.go
Due: go-mod-tidy-server, go-mod-tidy-client

added the removal of the the TU Film newssource
  server/backend/migration/2023090410000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

Update server/backend/cron/movies.go
  server/backend/cron/movies.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed one migration having a longer name
  server/backend/migration/20230904100000.go
  server/backend/migration/migration.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed naming things imdb if they should be omdb
  server/backend/cron/movies.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed us unnessesarily truncating our id fields
  server/model/cafeteria.go
  server/model/cafeteriaRating.go
  server/model/cafeteriaRatingAverage.go
  server/model/cafeteriaRatingTag.go
  server/model/cafeteriaRatingTagAverage.go
  server/model/cafeteriaRatingTagOptions.go
  server/model/crontab.go
  server/model/devices.go
  server/model/dish.go
  server/model/dishNameTag.go
  server/model/dishNameTagAverage.go
  server/model/dishNameTagOption.go
  server/model/dishNameTagOptionExcluded.go
  server/model/dishNameTagOptionIncluded.go
  server/model/dishRating.go
  server/model/dishRatingAverage.go
  server/model/dishRatingTag.go
  server/model/dishRatingTagAverage.go
  server/model/dishRatingTagOption.go
  server/model/dishToDishNameTags.go
  server/model/dishesOfTheWeek.go
  server/model/files.go
  server/model/iosScheduledUpdateLog.go
  server/model/iosSchedulingPriority.go
  server/model/ios_grade.go
  server/model/news.go
  server/model/news_alert.go
  server/model/news_source.go
  server/model/notification.go
  server/model/notification_confirmation.go
  server/model/notification_type.go
  server/model/roomfinder_building2area.go
  server/model/roomfinder_buildings2maps.go
  server/model/roomfinder_maps.go
  server/model/roomfinder_rooms.go
  server/model/roomfinder_rooms2maps.go
  server/model/updateNote.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed compilation errors
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/backend/cafeteriaRatingDBInitializer.go
  server/backend/cafeteriaService.go
  server/backend/cron/canteenHeadCount.go
  server/backend/cron/dishNameDownload.go
  server/backend/cron/news.go
  server/backend/news_test.go
  server/model/cafeteriaRatingAverage.go
  server/model/dishRatingAverage.go
  server/model/news.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

removed unused firebase package
  server/backend/firebase/messaging.go
Due: go-mod-tidy-server, go-mod-tidy-client
