Repository TUM-Dev/Campus-Backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
        exclude: vscode/launch.json
      - id: check-yaml
        exclude: deployment/.*
      - id: check-added-large-files
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-imports
  - repo: local
    hooks:
      - id: regen-protobuf
        name: Regenerate protobuf files
        files: server/api/
        entry: sh -c "(cd server/api && sh generate.bash)"
        language: system
        pass_filenames: false
        stages: [commit]
      - id: go-mod-tidy-server
        name: Check if go.mod and go.sum are up to date for server
        files: server/
        entry: sh -c "(cd server && go mod tidy)"
        language: system
        pass_filenames: false
        stages: [commit]
      - id: go-mod-tidy-client
        name: Check if go.mod and go.sum are up to date for server
        files: server/
        entry: sh -c "(cd client && go mod tidy)"
        language: system
        pass_filenames: false
        stages: [commit]

Potential fix for code scanning alert no. 3: Incomplete regular expression for hostnames
  server/backend/cron/news.go
Due: go-mod-tidy-server, go-mod-tidy-client

Potential fix for pull request finding 'CodeQL / Missing regular expression anchor'
  server/backend/cron/news.go
Due: go-mod-tidy-server, go-mod-tidy-client

Potential fix for code scanning alert no. 3: Incomplete regular expression for hostnames (#622)
  server/backend/cron/news.go
Due: go-mod-tidy-server, go-mod-tidy-client

chore: migrate compose to Traefik v3, add gRPC-Web routing
  docker-compose.yml
Due: none

chore: migrate compose to Traefik v3, add gRPC-Web routing (#633)
  docker-compose.yml
Due: none

fixed formatting mistakes have sneaked into prod
  server/api/tumdev/campus_backend_grpc.pb.go
  server/go.mod
  server/go.sum
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client
