Repository TUM-Dev/Campus-Backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

regen-protobuf:
  name: Regenerate protobuf files
  entry: sh -c "(cd server/api && sh generate.bash)"
  language: system
  pass_filenames: false
  stages:
  - commit

go-mod-tidy-server:
  name: Check if go.mod and go.sum are up to date for server
  entry: sh -c "(cd server && go mod tidy)"
  language: system
  pass_filenames: false
  stages:
  - commit

go-mod-tidy-client:
  name: Check if go.mod and go.sum are up to date for server
  entry: sh -c "(cd client && go mod tidy)"
  language: system
  pass_filenames: false
  stages:
  - commit

fixed the testcases
  server/backend/update_note_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

addded a migration to not have cards anymore
  server/backend/migration/20240102000000.go
  server/backend/migration/migration.go
Due: go-mod-tidy-server, go-mod-tidy-client

tested different order
  server/backend/migration/20240102000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

Addded a migration to not have cards anymore (#302)
  server/backend/migration/20240102000000.go
  server/backend/migration/migration.go
Due: go-mod-tidy-server, go-mod-tidy-client

added a missing fk-relationship for question2answer
  server/backend/migration/20240103000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

removed the scheduling configuration from the db and moved it to commented code
  server/backend/cron/ios_notifications.go
  server/backend/ios_notifications/scheduling/repository.go
  server/backend/ios_notifications/scheduling/service.go
  server/backend/migration/20240101000000.go
  server/backend/migration/migration.go
  server/backend/new_exam_results_hook/scheduling/service.go
  server/model/ios_scheduling_priority.go
Due: go-mod-tidy-server, go-mod-tidy-client

removed the scheduling configuration from the db and moved it to commented code (#303)
  server/backend/cron/ios_notifications.go
  server/backend/ios_notifications/scheduling/repository.go
  server/backend/ios_notifications/scheduling/service.go
  server/backend/migration/20240101000000.go
  server/backend/migration/migration.go
  server/backend/new_exam_results_hook/scheduling/service.go
  server/model/ios_scheduling_priority.go
Due: go-mod-tidy-server, go-mod-tidy-client

tested a possible linting fix
  server/api/tumdev/campus_backend.pb.go
  server/go.mod
  server/go.sum
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

linting fix
  server/backend/migration/migration.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed the cascading of `question2answer` not being defined
  server/backend/migration/20240103000000.go
Due: go-mod-tidy-server, go-mod-tidy-client

chore:statistic canteen views (#260)
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/cafeteria.go
  server/backend/cron/average_rating_computation.go
  server/backend/cron/cronjobs.go
  server/backend/migration/20220713000000.go
  server/backend/migration/20231015000000.go
  server/backend/migration/migration.go
  server/model/cafeteria_rating_average.go
  server/model/cafeteria_rating_statistic.go
  server/model/cafeteria_rating_tag_average.go
  server/model/cafeteria_rating_tag_statistic.go
  server/model/crontab.go
  server/model/dish_name_tag_average.go
  server/model/dish_name_tag_statistic.go
  server/model/dish_rating_average.go
  server/model/dish_rating_statistic.go
  server/model/dish_rating_tag_average.go
  server/model/dish_rating_tag_statistic.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

createdish rating
  server/backend/cafeteria_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

removed all reminents of the ios notifications
  server/backend/campus_api/campus_api.go
  server/backend/cron/cronjobs.go
  server/backend/cron/ios_notifications.go
  server/backend/cron/new_exam_results_hook.go
  server/backend/device.go
  server/backend/ios_notifications.go
  server/backend/ios_notifications/apns/jwt_token.go
  server/backend/ios_notifications/apns/repository.go
  server/backend/ios_notifications/apns/service.go
  server/backend/ios_notifications/crypto/encrypted_string.go
  server/backend/ios_notifications/device/repository.go
  server/backend/ios_notifications/device/service.go
  server/backend/ios_notifications/devices_activity_reset/repository.go
  server/backend/ios_notifications/devices_activity_reset/service.go
  server/backend/ios_notifications/request_response/repository.go
  server/backend/ios_notifications/request_response/service.go
  server/backend/ios_notifications/scheduled_update_log/repository.go
  server/backend/ios_notifications/scheduling/service.go
  server/backend/migration/20240207000000.go
  server/backend/migration/migration.go
  server/backend/new_exam_results_hook/scheduling/repository.go
  server/backend/new_exam_results_hook/scheduling/service.go
  server/backend/new_exam_results_hook/subscriber/repository.go
  server/backend/new_exam_results_hook/subscriber/service.go
  server/backend/rpcserver.go
  server/go.mod
  server/go.sum
  server/model/ios_device.go
  server/model/ios_device_last_updated.go
  server/model/ios_device_request_log.go
  server/model/ios_devices_activity_reset.go
  server/model/ios_grade.go
  server/model/ios_remote_notification.go
  server/model/ios_scheduled_update_log.go
  server/model/published_exam_result.go
Due: go-mod-tidy-server, go-mod-tidy-client

removed the ios methods from the protofile
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

bumped the pre-commit configuration
  .pre-commit-config.yaml
Due: none

fixed linting issues
  server/api/tumdev/campus_backend.pb.gw.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

added an alarm cronjob
  server/backend/cron/alarm.go
Due: go-mod-tidy-server, go-mod-tidy-client

typo
  server/backend/cron/alarm.go
Due: go-mod-tidy-server, go-mod-tidy-client

added the cronjob as a cronjob
  server/backend/cron/cronjobs.go
Due: go-mod-tidy-server, go-mod-tidy-client

no ios notifications (#313)
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/campus_api/campus_api.go
  server/backend/cron/cronjobs.go
  server/backend/cron/ios_notifications.go
  server/backend/cron/new_exam_results_hook.go
  server/backend/device.go
  server/backend/ios_notifications.go
  server/backend/ios_notifications/apns/jwt_token.go
  server/backend/ios_notifications/apns/repository.go
  server/backend/ios_notifications/apns/service.go
  server/backend/ios_notifications/crypto/encrypted_string.go
  server/backend/ios_notifications/device/repository.go
  server/backend/ios_notifications/device/service.go
  server/backend/ios_notifications/devices_activity_reset/repository.go
  server/backend/ios_notifications/devices_activity_reset/service.go
  server/backend/ios_notifications/request_response/repository.go
  server/backend/ios_notifications/request_response/service.go
  server/backend/ios_notifications/scheduled_update_log/repository.go
  server/backend/ios_notifications/scheduling/service.go
  server/backend/migration/20240207000000.go
  server/backend/migration/migration.go
  server/backend/new_exam_results_hook/scheduling/repository.go
  server/backend/new_exam_results_hook/scheduling/service.go
  server/backend/new_exam_results_hook/subscriber/repository.go
  server/backend/new_exam_results_hook/subscriber/service.go
  server/backend/rpcserver.go
  server/go.mod
  server/go.sum
  server/model/ios_device.go
  server/model/ios_device_last_updated.go
  server/model/ios_device_request_log.go
  server/model/ios_devices_activity_reset.go
  server/model/ios_grade.go
  server/model/ios_remote_notification.go
  server/model/ios_scheduled_update_log.go
  server/model/published_exam_result.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed the cronTab running an invalid query
  server/backend/cron/cronjobs.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixes: eat-api call and dish database check
  server/backend/cron/dish_name_download.go
  server/go.mod
Due: go-mod-tidy-server, go-mod-tidy-client

fix: fix listDishes endpoint and change to listMeals
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/cafeteria.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

change cutoff values in ListMeals conditions
  server/backend/cafeteria.go
Due: go-mod-tidy-server, go-mod-tidy-client

Switched to renovate for the ability to group PRs
  .github/dependabot.yml
Due: none

Update renovate.json
  renovate.json
Due: none

enabled the mensa cron as an experiment
  deployment/charts/backend/templates/deployments/backend-v2.yaml
Due: none

fixed a wrong id name causing db errors
  server/backend/cron/dish_name_download.go
Due: go-mod-tidy-server, go-mod-tidy-client

removed the environment.go by inlining the 34chars of code into the only usage
  server/env/environment.go
  server/utils/telemetry.go
Due: go-mod-tidy-server, go-mod-tidy-client

removed the previously deactivated `dishNameDownload`-Cronjob
  deployment/charts/backend/templates/deployments/backend-v2.yaml
  docker-compose.yaml
  server/backend/cron/cronjobs.go
Due: go-mod-tidy-server, go-mod-tidy-client

Apply suggestions from code review
  server/api/tumdev/campus_backend.proto
  server/backend/cafeteria.go
  server/backend/cron/dish_name_download.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

reverted the `Dishes`->`Meals` naming difference
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/cafeteria.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

linting fixes
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.pb.gw.go
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

mirrored the comments from the RPC to the protofile This way, we make sure that they are actually displayed to the users
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/api/tumdev/campus_backend_grpc.pb.go
  server/backend/cafeteria.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

Update server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.proto
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

bumped my local dependencies to align with CI
  server/api/tumdev/campus_backend.pb.go
  server/go.mod
  server/go.sum
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

migrated the backend to the simplified deployment
  config/envoy.yaml
  deployment/charts/backend/templates/deployments/backend-v2.yaml
  docker-compose.local.yaml
  docker-compose.yaml
Due: none

added docker-compose labels
  docker-compose.yaml
Due: none

re-disabled the MensaCron
  docker-compose.local.yaml
  docker-compose.yaml
Due: none

applied the same security protocols as before
  docker-compose.yaml
Due: none

Path conditions:
  regen-protobuf: any of: server/api/
  go-mod-tidy-server: any of: server/
  go-mod-tidy-client: any of: server/
