Repository TUM-Dev/Campus-Backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
        exclude: vscode/launch.json
      - id: check-yaml
        exclude: deployment/.*
      - id: check-added-large-files
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.0
    hooks:
      - id: go-fmt
      - id: go-imports
  - repo: local
    hooks:
      - id: regen-protobuf
        name: Regenerate protobuf files
        files: server/api/
        entry: sh -c "(cd server/api && sh generate.bash)"
        language: system
        pass_filenames: false
        stages: [commit]
      - id: go-mod-tidy-server
        name: Check if go.mod and go.sum are up to date for server
        files: server/
        entry: sh -c "(cd server && go mod tidy)"
        language: system
        pass_filenames: false
        stages: [commit]
      - id: go-mod-tidy-client
        name: Check if go.mod and go.sum are up to date for server
        files: server/
        entry: sh -c "(cd client && go mod tidy)"
        language: system
        pass_filenames: false
        stages: [commit]

made sure that the `DB_NAME` is included in local development
  docker-compose.local.yaml
  docker-compose.yaml
Due: none

aligned the local and remote options closer
  docker-compose.local.yaml
Due: none

made sure that the db can be connected to
  docker-compose.yaml
Due: none

aligned the naming required by ci
  README.md
  docker-compose.local.yml
  docker-compose.yml
Due: none

removed unused `CAMPUS_API_TOKEN` option
  .env
  deployment/charts/backend/templates/deployments/backend-v2.yaml
  docker-compose.local.yml
  docker-compose.yml
Due: none

tested a different version of the healthcheck
  server/Dockerfile
Due: go-mod-tidy-server, go-mod-tidy-client

made sure that the labels of the backend are synced with the ones of other services
  docker-compose.yml
Due: none

Aligned a few nullability issues between the data scraped from the tufilm and our db
  server/backend/migration/20240402000000.go
  server/backend/migration/migration.go
Due: go-mod-tidy-server, go-mod-tidy-client

Implemented feedback replyto ratelimiting and a different field for the name
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/backend/cron/feedback_email.go
  server/backend/feedback.go
  server/backend/migration/20240405000000.go
  server/backend/migration/migration.go
  server/backend/rpcserver.go
  server/go.sum
  server/model/feedback.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed issues in the tests
  server/backend/cron/feedback_email.go
  server/backend/cron/feedback_email_test.go
  server/backend/feedback.go
  server/backend/feedback_test.go
  server/model/feedback.go
Due: go-mod-tidy-server, go-mod-tidy-client

Implemented antispam via feedback replyto ratelimiting (#341)
  server/api/tumdev/campus_backend.pb.go
  server/api/tumdev/campus_backend.proto
  server/api/tumdev/campus_backend.swagger.json
  server/backend/cron/feedback_email.go
  server/backend/cron/feedback_email_test.go
  server/backend/feedback.go
  server/backend/feedback_test.go
  server/backend/migration/20240405000000.go
  server/backend/migration/migration.go
  server/backend/rpcserver.go
  server/go.sum
  server/model/feedback.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

separated `gorm` to a separate renovate group
  renovate.json
Due: none

changed `grpc.Dial` to `grpc.NewClient` as by deprecation
  client/local/client.go
  client/public/client.go
Due: none

adapted updatenote testcase to new gorm version
  server/backend/update_note_test.go
Due: go-mod-tidy-server, go-mod-tidy-client

Removed the exception for gorm in renovate
  renovate.json
Due: none

removed the v1 backend
  deployment/charts/backend/templates/deployments/backend-v1.yaml
  deployment/charts/backend/templates/deployments/backend.yaml
  deployment/charts/backend/templates/deployments/hpas.yaml
  deployment/charts/backend/templates/networking/ingress.yaml
  deployment/charts/backend/templates/networking/redirect-to-new-backend-middleware.yaml
  deployment/charts/backend/templates/networking/service.yaml
  docker-compose.yaml
Due: none

bumped golanci
  .github/workflows/lint.yml
Due: none

fixed the go.sum
  server/go.sum
Due: go-mod-tidy-server, go-mod-tidy-client

made sure that a PR is created if formatting mishaps sneak into prod
  .github/workflows/lint.yml
Due: none

made sure the linting is not aborted before allowing for auto-prs
  .github/workflows/lint.yml
Due: none

added cloudsql-proxy to the docker compose
  docker-compose.yaml
Due: none

added the correct path to `credentials/credentials.json`
  docker-compose.yaml
Due: none

changed the name of `credetnials.json` to `backend-gcp-cloudsql-credentials.json`
  docker-compose.yaml
Due: none

Removed the database
  docker-compose.yaml
Due: none

Comment out the local DB and instead use the same container name for the cloudsqlproxy
  docker-compose.yaml
Due: none

added the docker compose flags of the new deployment
  .env
  README.md
  deployment/charts/backend/files/envoy.yaml
  deployment/charts/backend/templates/deployments/backend.yaml
  docker-compose.local.yaml
  docker-compose.yaml
Due: none

fixed a typo in the `campus_db` network name
  docker-compose.yaml
Due: none

fixed accidentally removing `campus_db`
  docker-compose.yaml
Due: none

use newapi.tum.app for testing temporarily and disable the grpc domain until we can migrate
  docker-compose.yaml
Due: none

added a migration to remove the chat
  server/backend/migration/20240510000000.go
  server/backend/migration/migration.go
Due: go-mod-tidy-server, go-mod-tidy-client

fixed formatting issues
  .github/workflows/lint.yml
  docker-compose.yaml
  server/api/tumdev/campus_backend.pb.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

fixed a formatting mistake
  README.md
Due: none

added a migration to remove the chat (#355)
  .github/workflows/lint.yml
  README.md
  docker-compose.yaml
  server/api/tumdev/campus_backend.pb.go
  server/backend/migration/20240510000000.go
  server/backend/migration/migration.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

Revert "added a migration to remove the chat (#355)"
  .github/workflows/lint.yml
  README.md
  docker-compose.yaml
  server/api/tumdev/campus_backend.pb.go
  server/backend/migration/20240510000000.go
  server/backend/migration/migration.go
Due: regen-protobuf, go-mod-tidy-server, go-mod-tidy-client

made sure that h2 traffic is also routed to the tca-b
  docker-compose.yaml
Due: none

fixed the file ending of the docker compose files being wrong
  docker-compose.local.yml
  docker-compose.yml
Due: none

removed the assumption on cloud-sql-proxy having a healthcheck defined Upstream issue https://github.com/GoogleCloudPlatform/cloud-sql-proxy/issues/2046
  docker-compose.yml
Due: none

made sure that no two networks are defined leading to weird connection issues
  docker-compose.yml
Due: none

fixed the cloudsql port being wrong
  docker-compose.yml
Due: none

made sure that the `DB_USER_NAME` is configurable in prod
  .env
  README.md
  docker-compose.local.yml
  docker-compose.yml
Due: none
